@import 'base/variable/custom-variable';
@import 'customize/fonts';
@import 'bootstrap/scss/bootstrap.scss';
/* @import '~glyphicons-only-bootstrap/css/bootstrap.css'; */
@import 'base/variable/_variables.scss';
@import 'base/base';
@import 'base/page-loader';
@import 'base/card';
@import 'base/error';
@import 'base/modal';
@import 'base/header';
@import 'base/navigation';
@import 'base/tabs';
@import 'base/table';
@import 'base/datepicker';
@import 'base/radio';
@import 'base/checkbox';
@import 'base/selectize';

// //customize css
@import 'customize/common';
@import 'customize/login';
@import 'customize/chart';
@import 'customize/auth';
@import 'customize/sidebar';
@import 'customize/dashboard';
@import 'customize/d2c';
@import 'customize/timeline';
@import 'customize/builder.scss';
@import 'customize/error.scss';
@import 'customize/content-placeholder';
@import 'customize/print';
@import 'customize/custom-datepicker';
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';
@import '~vue-multiselect/dist/vue-multiselect.min.css';

@import 'customize/customize';

.amcharts-chart-div > a {
    display: none !important;
}
.auth-overlay-div {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    height: 100%;
    background: #000;
    z-index: 999;
}
