.custom-checkbox {
    .custom-control-label {
        &:before,
        &:after {
            width: 21px;
            height: 21px;
        }

        color: $body-color;
        text-transform: capitalize;
        font-size: 0.875rem !important;
        span {
            margin-left: 5px;
            margin-top: 5px;
            display: block;
            display: block;
            text-transform: capitalize;
            // color: $grey-lite;
            @include mobile {
                font-size: 13px;
            }
        }
    }

    .custom-control-label {
        &:after {
            background: no-repeat 50% / 80% 60%;
        }
    }
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after,
.custom-checkbox
    .custom-control-input:indeterminate
    ~ .custom-control-label::after {
    top: 4px;
    left: -24px;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label:before {
    color: $secondary;
    background-color: transparent;
    border-color: $border-color;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    box-shadow: none;
    border-color: $border-color;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    border-color: $border-color;
    background-color: transparent;
    box-shadow: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url('./assets/images/check-icon.svg');
}

.custom-checkbox
    .custom-control-input:indeterminate
    ~ .custom-control-label::before {
    border-color: $border-color;
    background-color: transparent;
}

.custom-checkbox
    .custom-control-input:indeterminate
    ~ .custom-control-label::after {
    background-image: url('./assets/images/minus-icon.svg');
    top: 4px !important;
}

.col-form-label {
    .custom-checkbox
        .custom-control-input:checked
        ~ .custom-control-label::after {
        top: 4px !important;
    }
}
