// date picker
.custom-datepicker {
    position: relative;

    .placeholder {
        position: absolute;
        top: 0px;
        align-items: center;
        width: 70%;
        z-index: 1;
        pointer-events: none;
        left: 4px;
        display: flex;
        height: 100%;
        padding-left: 13px;
        background-color: $white;
        color: $grey-medium;
    }

    .header-picker {
        background-color: $primary !important;
    }

    .field-input {
        border: none !important;

        @extend .form-control;
        background-color: $white !important;
    }

    i {
        color: $grey-lite;
        position: absolute;
        right: 13px;
        height: 26px;
        pointer-events: none;
        top: 7px;
        right: 3px;
        width: 40px;
        background-color: $white;
        font-size: 19px;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .datepicker-container {
        padding: 0 !important;
        .datepicker-controls {
            background-color: $primary;
            height: $input-height !important;

            .custom-button {
                background-color: transparent;

                .custom-button-effect {
                    background-color: transparent !important;
                }
                .custom-button-content {
                    color: $white !important;
                    font-size: 0.875rem;
                    font-family: $font_medium;
                }
            }

            .datepicker-button {
                svg {
                    fill: $white !important;
                }
            }
        }

        .datepicker-day-effect {
            background-color: $primary !important;
        }

        .datepicker-day-text {
            font-weight: normal !important;
            font-family: $font_regular;
        }
    }

    .time-picker-column-item-effect {
        background-color: $primary !important;
        top: 3px !important;
    }
    .time-picker-column-item {
        &.active {
            font-weight: normal !important;
        }
    }

    .custom-button {
        &.with-border {
            border: 1px solid $border-color !important;
        }

        &:hover {
            background-color: $primary;
        }
    }

    .custom-button-content {
        color: $body-color !important;
    }

    .custom-button-effect {
        background-color: $primary !important;
    }

    .datepicker-buttons-container {
        .datepicker-button {
            .datepicker-button-effect {
                background: $secondary !important;
            }

            svg {
                fill: $primary !important;
            }
        }
    }

    .before {
        height: auto !important;
    }
    &.is-invalid {
        border: $danger solid 1px;
        border-radius: 8px;
    }
    .field-input[readonly] {
        border-radius: 8px;
    }
}

.datetime-picker {
    z-index: 1;
    &.field-input {
        input {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 9;
            height: 100%;
            border: none !important;
            @extend .form-control;
            background-color: $white !important;
            cursor: pointer;
            min-width: 0px !important;
        }
    }
    .calender-div {
        top: 47px !important;
        font-size: $font-size-sm !important;
        min-width: 225px !important;
        border-radius: 5px !important;
        overflow: hidden;
        width: 100%;
        .headers {
            display: table;
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;
            .days {
                color: #6c757d !important;
                width: 28px;
                height: 28px;
                padding: 3px 3px;
                display: table-cell;
            }
        }
        .week {
            display: table;
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;
            .port {
                display: table-cell;
            }
        }
        .year-month-wrapper {
            background-color: $primary !important;
            .nav-l,
            .nav-r {
                background-color: $primary !important;
                font-size: $font-size-sm !important;
            }
            .year,
            .month {
                font-weight: 300 !important;
            }
        }
        .time-picker {
            li {
                font-size: $font-size-sm;
            }
        }
        .activePort {
            background-color: $primary !important;
            &.port {
                color: #fff !important;
            }
        }
        .port {
            width: 28px;
            height: 28px;
            padding: 3px 3px;
            border-radius: 4px;
            &:hover {
                color: $primary;
            }
        }
        .okButton {
            color: #6c757d !important;
            font-size: $font-size-sm !important;
            outline: 0;
        }
        li {
            &.active {
                background-color: $primary !important;
            }
        }
        .month-setter {
            .year,
            .month {
                width: 45%;
            }
        }
    }
}

body {
    .custom-datepicker {
        @include mobile {
            .datetimepicker,
            .datepicker {
                .datepicker {
                    position: absolute !important;
                    z-index: 5 !important;
                    height: 340px !important;
                    top: 100% !important;
                    &:not(.inline) {
                        top: 100% !important;
                    }
                    .datepicker-container {
                        width: 100% !important;
                        .datepicker-controls {
                            .align-center {
                                margin-bottom: 0px;
                            }
                        }
                    }
                    .month-container {
                        height: 340px !important;
                    }
                }
            }
            .placeholder {
                // top: 15px;
            }
        }
    }
}

.datepicker-prev {
    position: relative;

    &:after {
        content: '\e945';
        font-family: 'icomoon';
        position: absolute;
        left: 15px;
        color: $white;
        top: 14px;
    }
    svg {
        display: none;
    }
}

.datepicker-next {
    position: relative;
    &:after {
        content: '\e93d';
        font-family: 'icomoon';
        position: absolute;
        left: 15px;
        color: $white;
        top: 14px;
    }
    svg {
        display: none;
    }
}
