.multiselect {
    position: relative;
    .multiselect__tags {
        @extend .form-control;
        overflow-y: auto;
        padding: 0 15px 0;
        border: none;
    }

    .multiselect__tags-wrap {
        height: 100%;
        padding: 4px 0 4px 0;
        width: 100%;
        display: block;
    }

    .multiselect__tag {
        background: $grey-dark;
        color: $body-color;
        font-size: 0.875rem;
        font-family: $font_regular;
        padding: 9px 21px 9px 11px;
        margin-bottom: 0;
        border-radius: $border-radius;
    }

    .multiselect__tag-icon,
    .multiselect__tag-icon {
        &:focus,
        &:hover {
            background: transparent;
            color: $body-color;
        }
    }

    .multiselect__tag-icon {
        top: 6px;
        right: 1px;

        &:after {
            font-size: 21px;
            color: $body-color;
        }
    }

    .multiselect__placeholder {
        padding-top: 10px;
        margin-bottom: 0;
    }

    .multiselect__select {
        transition: none !important;
        transform: none !important;
        display: none;
        &:before {
            background: url(assets/images/arrow.svg) no-repeat right 0.75rem
                center/12px 10px;
            position: absolute;
            width: 33px;
            height: 38px !important;
            top: -1px !important;
            padding: 4px 0;
            right: -2px !important;
            margin-top: 0;
            border-color: transparent;
            bottom: -2px;
        }
    }

    .multiselect__option {
        padding: 7px 12px 5px;
        min-height: 30px;

        &:after {
            line-height: 30px;
        }
    }

    .multiselect__option--selected.multiselect__option--highlight,
    .multiselect__option--selected.multiselect__option--highlight:after,
    .multiselect__option--highlight,
    .multiselect__option--highlight:after {
        background: $primary;
        font-family: $font_regular;
        font-weight: normal;
        font-size: 0.875rem;
        color: $white;
    }

    // .multiselect__option--highlight,
    // .multiselect__option--highlight:after {
    //     background: $secondary;
    //     font-family: $font_regular;
    //     font-weight: normal;
    //     color: #fff !important;
    //     font-size: 0.875rem;
    // }

    .multiselect__option--selected {
        background: $body-bg;
        font-family: $font_regular;
        font-weight: normal;
        font-size: 0.875rem;
        color: $body-color;
    }

    .multiselect__input {
        left: 0;
        right: 0;
        height: 43px;
        position: absolute;
        z-index: 99999;
        padding: 14px 15px;
        font-size: 0.875rem;
        color: $body-color;
        top: 0;
        margin-bottom: 0 !important;
    }

    .multiselect__element {
        font-size: 0.875rem;
        color: $body-color;
    }
}
.multiselect {
    &.is-invalid {
        .multiselect__tags {
            border: 1px solid $danger;
            border-radius: 8px;
        }
    }
}
