.card {
    border: 1px solid transparent;
    background: #fff;
    border-radius: 16px;
    padding: 32px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0.5px 0px rgba(50, 50, 93, 0.2);
    box-shadow: 0px 0.5px 0px rgba(50, 50, 93, 0.2);
    @include tablet {
        padding: 30px 20px;
    }
    &.sm-radius,
    &.sm {
        border-radius: 8px;
    }
    &.with-shadow {
        box-shadow: 0px 0px 14px rgba(50, 50, 93, 0.2);
    }

    &.card-auth {
        max-width: 435px;
        width: 90%;
        @include tablet {
            padding: 32px;
        }
        @include mobile {
            padding: 18px;
        }
    }
    &.card-builder {
        box-shadow: 0px 0.5px 0px rgba(50, 50, 93, 0.2);
        border-radius: 8px;
        padding: 22px;

        &.field-type-panel {
            position: sticky;
            top: 80px;
            @include mobile {
                display: none;
                position: fixed;
                width: 100%;
                left: 0;
                top: auto;
                // height: calc(100% - 50px);
                height: 100%;
                align-items: center;
                align-content: center;
                // justify-content: center;
                flex-direction: column;
                padding-left: 0;
                padding-right: 0;
                bottom: 0;
                border-radius: 0;
                z-index: 999;
                &.show-Component {
                    display: flex;
                    > div {
                        width: 100%;
                        padding-left: 30px;
                        padding-right: 30px;
                        padding-top: 45px;
                        &.component-panel-close {
                            padding-top: 0px;
                        }
                    }
                    h4 {
                        margin-bottom: 20px;
                        position: absolute;
                        top: 15px;
                        left: 25px;
                    }
                }
            }
        }
    }
}

.component-panel-close {
    position: absolute;
    z-index: 9;
    top: 10px;
    right: -20px;
    font-size: 1.8rem;
    display: none;
    i {
        color: $primary;
    }
    @include mobile {
        display: block;
        text-align: right;
    }
}

.component-panel-open {
    position: fixed;
    z-index: 9;
    bottom: 10px;
    right: 20px;
    background-color: $secondary;
    border-radius: 5px;
    display: none;
    width: 35px;
    height: 35px;
    i {
        color: #fff;
        font-size: 1rem;
    }
    @include mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
