.loader,
.loader:after {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    margin: 0 auto;
    font-size: 3px;
    text-indent: -9999em;
    border-top: 3px solid rgba(255, 255, 255, 0.2);
    border-right: 3px solid rgba(255, 255, 255, 0.2);
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    border-left: 3px solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    display: none;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading-table-component {
    border-radius: 0px !important;
    thead {
        background: #fff !important;
        tr {
            &:nth-child(2) {
                display: none;
            }
        }
    }
}

.table-spinner {
    &:after {
    }
    .spinner-img {
        max-width: 65px;
        margin: 0 auto;
        color: $grey-lite;
        img {
            height: auto !important;
            margin: 0 auto !important;
            max-width: 100% !important;
        }
    }
}

.table-spinner-td {
    padding: 0;
}
