<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h1>Checkout Cancelled</h1>
                <hr />
                <br />
                <router-link to="/" class="btn btn-primary btn-sm"
                    >Back Home</router-link
                >
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Cancel',
}
</script>

<style scoped></style>
