<template>
    <b-container align-v="center" class="container">
        <h4 v-if="subscription == 'unpaid'">
            Your Current Plan has stalled. Please upgrade
        </h4>
        <h2 v-if="subscription == 'paid'">
            Your Current Plan has upto {{ tier }} Onboardings
        </h2>
        <h2 v-if="subscription == 'trial'">
            You are currently on a trial version.
        </h2>
        <div class="mt-1">
            <h5 v-if="subscription == 'paid' || 'trial'">
                You have used {{ counter }} # Onboardings out of {{ tier }} from
                your plan
            </h5>
        </div>

        <div v-if="subscription != 'paid'" class="mt-10">
            <h2>Select a plan that works for you</h2>
            <b-card-group deck class="mb-3">
                <!-- card 1 -->
                <b-card
                    id="1"
                    border-variant="default"
                    header="Upto 100 Onboardings"
                    header-bg-variant="secondary"
                    header-text-variant="white"
                    align="center"
                    title="$99/month"
                    tag="article"
                    style="max-width: auto;"
                    class="mb-2 mt-2"
                >
                    <b-list-group flush>
                        <b-list-group-item>
                            Upto 100 Onboardings
                        </b-list-group-item>
                        <b-list-group-item>
                            Namescreening
                        </b-list-group-item>
                        <b-list-group-item>
                            Document Verification
                        </b-list-group-item>
                        <b-list-group-item>
                            KYC Risk Rating
                        </b-list-group-item>
                    </b-list-group>

                    <b-button v-b-modal.modal-2 class="mt-5" variant="secondary"
                        >Subscribe</b-button
                    >
                    <br />
                </b-card>
                <!-- card 1 ends here-->
                <b-card
                    border-variant="info"
                    header="Upto 500 Onboardings"
                    header-bg-variant="secondary"
                    header-text-variant="white"
                    align="center"
                    title="$177/month"
                    tag="article"
                    style="max-width: auto;"
                    class="mb-2 mt-2"
                >
                    <!--                    <br />-->
                    <!--                    <b-card-text>-->
                    <!--                        Get a 1 year subscription to both Apple Music & Netflix.-->
                    <!--                        This is billed once for the year-->
                    <!--                    </b-card-text>-->
                    <b-list-group flush>
                        <b-list-group-item>
                            Upto 500 Onboardings
                        </b-list-group-item>
                        <b-list-group-item>
                            Namescreening
                        </b-list-group-item>
                        <b-list-group-item>
                            Document Verification
                        </b-list-group-item>
                        <b-list-group-item>
                            KYC Risk Rating
                        </b-list-group-item>
                    </b-list-group>
                    <br />
                    <b-button v-b-modal.modal-1 class="mt-5" variant="secondary"
                        >Subscribe</b-button
                    >
                    <br />
                </b-card>
                <!-- card 3 -->
                <b-card
                    border-variant="default"
                    header="Upto 1000 Onboardings"
                    header-bg-variant="secondary"
                    header-text-variant="white"
                    align="center"
                    title="$14/month"
                    tag="article"
                    style="max-width: auto;"
                    class="mb-5 mt-2"
                >
                    <!--                    <br />-->
                    <!--                    <b-card-text>-->
                    <!--                        Get a 1 year subscription to Apple Music, Netflix and-->
                    <!--                        Spotify. This is billed once for the year-->
                    <!--                    </b-card-text>-->
                    <b-list-group flush>
                        <b-list-group-item>
                            Upto 1000 Onboardings
                        </b-list-group-item>
                        <b-list-group-item>
                            Namescreening
                        </b-list-group-item>
                        <b-list-group-item>
                            Document Verification
                        </b-list-group-item>
                        <b-list-group-item>
                            KYC Risk Rating
                        </b-list-group-item>
                    </b-list-group>
                    <br />
                    <b-button
                        v-b-modal.modal-1
                        variant="secondary"
                        @click.prevent="onSubmit('1000')"
                        >Subscribe</b-button
                    >
                </b-card>
            </b-card-group>
        </div>
        <div v-if="subscription == 'paid'">
            To change your subscription or billing details, go to the billing
            portal <br />
            <b-button type="button" variant="primary"
                >Go to Billing Poral</b-button
            >
        </div>
    </b-container>
</template>

<script>
//import { StripeCheckout } from '@vue-stripe/vue-stripe'
import { mapGetters } from 'vuex'
const apiUrl = process.env.VUE_APP_API_URL
import axios from 'axios'

import resource from '@/api/resource'
const dataSegmentApi = new resource('users/data-segment')
//const pricesApi = new resource('users/prices')

export default {
    components: {},
    data: function() {
        return {
            counter: null,
            subscription: null,
            tier: null,
        }
    },
    /*
    |--------------------------------------------------------------------------
    | Component > computed
    |--------------------------------------------------------------------------
    */
    computed: {
        ...mapGetters(['user', 'dataSegmentId', 'dataSegmentList']),
    }, // End of Component > mounted

    mounted() {
        this.getCounter()
        this.getPricing()
    },
    methods: {
        async onSubmit(value) {
            try {
                console.log(value)
                // onLogout action in auth store
                let data = await this.$store.dispatch('createCheckoutSession', {
                    user: this.user,
                    priceId: 'price_1Io8ZzHoDw6DABRYF6exn9sG',
                    quantity: value,
                })
                console.log(data)
            } catch (error) {
                console.log(error)
            }
        },
        async getCounter() {
            let dataSegment = await dataSegmentApi.get(this.dataSegmentId)
            //this.dataSegmentList.push(dataSegment.data.data)
            this.tier = dataSegment.data.data.tier
            this.subscription = dataSegment.data.data.subscription
            if (this.subscription == 'unpaid') {
                this.counter = 0
            } else {
                this.counter = dataSegment.data.data.counter
            }
            // console.log(this.dataSegmentList[0])
            // this.counter = this.dataSegmentList[0].counter
            // this.subscription = this.dataSegmentList[0].subscription
            // console.log(this.dataSegmentList[0].counter)
        },
        async getPricing() {
            //            let data = await axios.get(apiUrl + pricesApi)
            let { data } = await axios.post(apiUrl + 'users/prices')
            console.log(data)
        },
        async onBilling() {
            try {
                // onLogout action in auth store
                await this.$store.dispatch(
                    'stripeCustomerPortalRedirect',
                    this.user
                )
            } catch (error) {
                console.log(error)
            }
        },
    },
}
</script>
