<template>
    <div>
        <!-- Show when Customer Record not exists -->
        <not-found
            v-if="!Object.keys(customerDetails).length && !showPageLoader"
        ></not-found>
        <!-- Show when Customer Record not exists -->

        <!-- When data is loading -->
        <base-table-spinner
            v-if="!Object.keys(customerDetails).length && showPageLoader"
        ></base-table-spinner>
        <!-- When data is loading -->

        <div
            class="card customer-info screen-section"
            v-if="Object.keys(customerDetails).length"
        >
            <customer-information
                :customerDetails="customerDetails"
            ></customer-information>
        </div>

        <div
            class="filter-section sub-filter"
            v-if="Object.keys(customerDetails).length"
        >
            <div class="row">
                <div class="col-md-9 filter-title-section font-sm">
                    <h2>Name Screening Hit Details</h2>
                </div>

                <div class="col-md-3 mt-custom-44">
                    <button
                        :class="[
                            'btn btn-primary',
                            { disabled: loading },
                            {
                                'button-disabled': isBtnDisabled,
                            },
                        ]"
                        type="button"
                        @click="updatedNameScreeningDetails()"
                    >
                        <span class="btn-text">Update Name screening</span>
                        <span class="loader"></span>
                    </button>
                </div>
            </div>
        </div>
        <div v-if="Object.keys(customerDetails).length">
            <div
                class="table-section table-min-width"
                :class="{
                    'overflow-hidden': !items.length && !showPageLoader,
                }"
            >
                <b-table :items="items" :fields="fields">
                    <template slot="full_name" slot-scope="data">
                        <a
                            href="javascript:void(0);"
                            class="cursor-pointer"
                            @click="
                                selectedRecord(data.item.screeningData)
                                $bvModal.show('screening-detail-popup')
                            "
                            >{{ data.item.screeningData.name | primaryName }}</a
                        >
                    </template>

                    <template slot="country" slot-scope="data">
                        {{ data.item.screeningData.country | citizenship }}
                    </template>

                    <template slot="associates" slot-scope="data">
                        {{ data.value ? data.value : 'N/A' }}
                    </template>

                    <template slot="sanction" slot-scope="data">
                        <status-type-icon
                            :statusType="data.item.sanction"
                            class="cursor-pointer"
                        ></status-type-icon>
                    </template>
                    <template slot="rep" slot-scope="data">
                        <status-type-icon
                            :statusType="data.item.pep"
                        ></status-type-icon>
                    </template>
                    <template slot="enforcement" slot-scope="data">
                        <status-type-icon
                            :statusType="data.item.enforcement"
                        ></status-type-icon>
                    </template>
                    <template slot="blackList" slot-scope="data">
                        <status-type-icon
                            :statusType="data.item.blackList"
                        ></status-type-icon>
                    </template>
                    <template slot="hit" slot-scope="data">
                        <base-status
                            :statusType="
                                data.item.hitDetermination == 'pending'
                                    ? 'potential'
                                    : data.item.hitDetermination
                            "
                        ></base-status>
                    </template>

                    <template slot="genuine" slot-scope="data">
                        <b-form-radio
                            v-model="
                                updatedDetails[data.index].hitDetermination
                            "
                            value="hit"
                            :name="updatedDetails[data.index]._id"
                            @change="
                                updateNameScreeningHits(
                                    $event,
                                    updatedDetails[data.index]._id
                                )
                            "
                        ></b-form-radio>
                    </template>
                    <template slot="not-genuine" slot-scope="data">
                        <b-form-radio
                            v-model="
                                updatedDetails[data.index].hitDetermination
                            "
                            :name="updatedDetails[data.index]._id"
                            value=""
                            @change="
                                updateNameScreeningHits(
                                    $event,
                                    updatedDetails[data.index]._id
                                )
                            "
                        ></b-form-radio>
                    </template>
                </b-table>
                <!-- When items is loading -->
                <base-table-spinner
                    v-if="!items.length && showPageLoader"
                ></base-table-spinner>
                <!-- When record not found -->
                <base-no-screening-hit
                    v-if="!items.length && !showPageLoader"
                ></base-no-screening-hit>
            </div>
        </div>

        <div
            class="filter-section sub-filter d-none-print"
            v-if="Object.keys(customerDetails).length"
        >
            <h2>Adverse Media Search</h2>
            <div class="card iframe-section">
                <div class="scrollable" id="style-2">
                    <!-- google search -->
                    <iframe :src="searchUrl"></iframe>
                    <!-- google search end-->
                </div>
            </div>
        </div>

        <cancel-review-process-popup></cancel-review-process-popup>
        <kyc-status-review-popup></kyc-status-review-popup>
        <screening-detail-popup></screening-detail-popup>
        <manual-alert-popup></manual-alert-popup>
        <modify-name-screening-hit></modify-name-screening-hit>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import customerInformation from '@/components/CustomerInfo.vue'
import kycStatusReviewPopup from '@/components/popups/KYCStatusReviewPopup.vue'
import cancelReviewProcessPopup from '@/components/popups/CancelReviewProcessPopup.vue'
import screeningDetailPopup from '@/components/popups/ScreeningDetailPopup.vue'
import statusTypeIcon from '@/components/AlertType.vue'
import manualAlertPopup from '@/components/popups/ManualAlertPopup.vue'
import modifyNameScreeningHit from '@/components/popups/ModifyNameScreeningHit.vue'
import NotFound from '@/views/404/NotFound.vue'
import request from '@/utils/request'
import resource from '@/api/resource'
import _ from 'lodash'
var resourceApi = new resource('customers/name-screening')

export default {
    components: {
        customerInformation,
        kycStatusReviewPopup,
        cancelReviewProcessPopup,
        screeningDetailPopup,
        statusTypeIcon,
        manualAlertPopup,
        NotFound,
        modifyNameScreeningHit,
    },

    /*
    |--------------------------------------------------------------------------
    | Component > props
    |--------------------------------------------------------------------------
    */
    props: {
        id: {
            required: true,
        },
    }, // End of Component > props

    /*
    |--------------------------------------------------------------------------
    | Component > data
    |--------------------------------------------------------------------------
    */
    data() {
        return {
            showPageLoader: true,
            customerDetails: {},
            fields: [],
            updatedDetails: [],
            loading: false,
            yesUpdate: false,
            canReturnAlert: '',
        }
    }, // End of Component > data

    /*
    |--------------------------------------------------------------------------
    | Component > computed
    |--------------------------------------------------------------------------
    */
    computed: {
        ...mapGetters([
            'profile',
            'dataSegmentId',
            'customerRecord',
            'kycRole',
            'alertRecord',
        ]),

        /**
         *
         * @return {array}
         */
        items() {
            this.updatedDetails = this.customerDetails.nameScreeningHits
                ? this.customerDetails.nameScreeningHits
                : []
            return this.customerDetails.nameScreeningHits
                ? this.customerDetails.nameScreeningHits
                : []
        }, // End of items() method

        /**
         *
         * @return {string}
         */
        searchUrl() {
            return `/google-search.html?q="${
                this.customerDetails.fullName
            }"+ corruption OR trafficking OR extortion OR crime OR intimidation`
        }, // End of searchUrl() method
        isBtnDisabled() {
            if (typeof localStorage.getItem('isLeastRole') == 'string') {
                if (localStorage.getItem('isLeastRole') == 'false') {
                    return true
                }
            }
            if (!this.items.length) {
                return true
            }
            if (
                this.customerRecord.nameScreeningStatus == 'pending' ||
                this.customerRecord.nameScreeningStatus == 'completed' ||
                this.customerRecord.nameScreeningStatus == 'locked'
            ) {
                return true
            }
            return false
        },
    }, // End of Component > computed
    /*
    |--------------------------------------------------------------------------
    | Component > methods
    |--------------------------------------------------------------------------
    */
    methods: {
        /**
         *
         * @return {void}
         */
        async initializeData() {
            this.fields = this.profile.screenCustomer.fields

            try {
                let { data } = await request({
                    url: `customers/name-screening/${this.id}`,
                })

                this.customerDetails = data.data
                this.showPageLoader = false
            } catch (error) {
                console.log(error)
            }
            this.showPageLoader = false
        }, // End of initializeData() method

        selectedRecord(record, index) {
            record.index = index
            this.$store.commit('setItem', record)
        }, // End of selectedRecord() method

        async updatedNameScreeningDetails() {
            let check = this.updatedDetails.find(
                (o) => o.hitDetermination === 'pending'
            )
            if (!check) {
                this.$store.commit('setLoading', true)
                this.loading = true
                try {
                    await resourceApi.update(this.$route.params.id, {
                        detail: this.updatedDetails,
                        alertId: this.alertRecord._id,
                    })
                    this.$store.commit(
                        'setSuccess',
                        'Name screening hits updated successfully'
                    )
                    let customerData = JSON.parse(
                        JSON.stringify(this.customerRecord)
                    )
                    let alert = JSON.parse(JSON.stringify(this.alertRecord))
                    alert.canCancelReview = false
                    alert.canReview = true
                    this.$store.commit('setAlertRecord', alert)
                    this.$store.commit('setCustomerRecord', customerData)
                } catch (error) {
                    this.$store.commit('setError', error)
                }
                this.$store.commit('setLoading', false)
                this.loading = false
            } else {
                this.$store.commit(
                    'setError',
                    'Please modify all name screening hits'
                )
            }
        },
        async updateNameScreeningHits(value, id) {
            if (value == 'hit') {
                _.filter(this.updatedDetails, function(o) {
                    if (id != o._id) {
                        o.hitDetermination = ''
                        return o
                    }
                })
            }
        },
    }, // End of Component > methods

    /*
    |--------------------------------------------------------------------------
    | Component > mounted
    |--------------------------------------------------------------------------
    */
    mounted() {
        this.initializeData()
    }, // End of Component > mounted

    /*
    |--------------------------------------------------------------------------
    | Component > filters
    |--------------------------------------------------------------------------
    */
    filters: {
        primaryName: function(value) {
            if (!value) return ''
            value = value.filter((v) => {
                return v.type === 'Primary Name'
            })

            return value[0].firstName + ' ' + value[0].lastName
        },
        citizenship: function(value) {
            if (value) {
                let citizenship = value.filter((v) => {
                    return v.type === 'Citizenship'
                })
                if (citizenship && citizenship[0] && citizenship[0].name) {
                    return citizenship[0].name
                }
            }
            return ''
        },
    }, // End of Component > filters
    /*
    |--------------------------------------------------------------------------
    | Component > watch
    |--------------------------------------------------------------------------
    */
    watch: {
        dataSegmentId(value) {
            if (value) {
                this.$router.push({ name: 'view-customer-profile' })
            }
        },
    }, // End of Component > watch
} // End of export default
</script>
