/* Data Segement Content placeholder css */
.skeleton-wrapper-inner {
    position: relative;
    background-color: $interface-dark;
    height: 100vh;
    padding: 10px 8px;
}

.skeleton-wrapper-body div {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderSkeleton;
    -webkit-animation-timing-function: linear;
    background: #f6f7f8;
    background-image: -webkit-gradient(
        linear,
        left center,
        right center,
        from(#f6f7f8),
        color-stop(0.2, #edeef1),
        color-stop(0.4, #f6f7f8),
        to(#f6f7f8)
    );
    background-image: -webkit-linear-gradient(
        left,
        #f6f7f8 0%,
        #edeef1 20%,
        #f6f7f8 40%,
        #f6f7f8 100%
    );
    background-repeat: no-repeat;
    background-size: 800px 104px;
    height: 104px;
    position: relative;
}

div.skeleton-avatar {
    border-radius: 8px;
    width: 43px;
    height: 43px;
    right: auto;
    margin-bottom: 10px;
}
div.skeleton-author {
    top: 20px;
    height: 20px;
    left: 95px;
    width: 150px;
}

div.skeleton-label {
    left: 95px;
    top: 50px;
    height: 10px;
    width: 100px;
}
div.skeleton-content-1,
div.skeleton-content-2,
div.skeleton-content-3 {
    left: 15px;
    right: 15px;
    height: 10px;
}
div.skeleton-content-1 {
    top: 100px;
}
div.skeleton-content-2 {
    top: 120px;
}
div.skeleton-content-3 {
    top: 140px;
}

@-webkit-keyframes placeholderSkeleton {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@-webkit-keyframes skeletonAnimate {
    from {
        background-position: top left;
    }
    to {
        background-position: top right;
    }
}
/* Data Segement Content placeholder css end */

/* Customer image placeholder */
.image-placeholder {
    .skeleton-wrapper-inner {
        background-color: transparent;
        height: 250px;
    }
    .skeleton-avatar {
        height: 200px;
        width: 100%;
    }
}
/* Customer image placeholder end */
