@import 'common';
@import 'login';
.logo {
    &.main-logo {
        .main {
            display: none;
        }
    }
    &:not(.main-logo) {
        .inverse {
            display: none;
        }
    }
    &.inverse-logo {
        .inverse {
            display: none;
        }
    }
}
.auth-card-body {
    padding: 37px 42px 40px;
}
.btn-group-toggle {
    label {
        cursor: pointer;
    }
}

.change-input-selecter {
    margin-top: 47px;
    height: 28px;
    .inputSelector {
        position: absolute;
        width: 100%;
        label {
            width: 100%;
        }
        select {
            -webkit-appearance: none;
            width: 100%;
        }
    }
    @include mobile {
        margin-top: 47px;
        height: 19px;
    }
}

.multiselect {
    .multiselect__tag {
        float: left;
        margin-bottom: 8px;
    }
}

.h-100px {
    height: 100px;
}

.white-background {
    background-color: $white;
}

.p-25px {
    padding: 25px;
}

.border-radius {
    border-radius: $border-radius;
}

select {
    &.form-control {
        cursor: pointer;
    }
}

.right-panel {
    padding: 29px 40px;
    @include tabletL {
        padding: 88px 40px 29px;
    }
    @include mobile {
        padding: 70px 14px 29px;
    }
}

span {
    &.danger {
        color: $danger;
    }
}

.file-thumbnail {
    width: 22px;
}
.radius-10px {
    border-radius: 10px;
}

.download-template {
    h5 {
        font-size: 1.125rem;
        font-family: $font_medium;
        padding-bottom: 8px;
    }
    p {
        font-size: 0.75rem;
        line-height: 20px;
        margin-bottom: 20px;
    }
    @include mobile {
        text-align: center;
        .link-action {
            justify-content: center;
        }
    }
}

.btn-min-width {
    min-width: 260px;
}

.multiselect {
    .multiselect__tags {
        &::-webkit-scrollbar-track {
            background-color: #fff;
            border-radius: 51px;
        }
        &::-webkit-scrollbar {
            width: 6px;
            height: 3px;
            background-color: #fff;
            border-radius: 51px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #cfd4d9;
            border-radius: 51px;
        }
    }
}

.show-record-video {
    #myVideo {
        width: 100%;
        height: 375px;
    }
}

.link-action {
    display: flex;
    .btn-link {
        padding: 0 0 0 10px;
        margin-top: -3px;
    }
}

.file-upload-info {
    display: flex;
    width: 100%;
    position: relative;
    border-top: 1px $grey-dark solid;
    padding-top: 25px;
    p {
        margin-bottom: 0px;

        span {
            font-family: $font_bold;
        }
    }
    .download-current-file {
        button {
            position: absolute;
            right: 0;
            bottom: -11px;
            padding-right: 0;
        }
    }
    @include mobile {
        padding-bottom: 25px;
        flex-direction: column;
        .download-current-file {
            .btn-icon {
                left: -10px;
            }
            button {
                position: relative;
                right: 0;
                bottom: 0;
                text-align: center;
                display: block;
                margin: auto;
            }
        }
        .file-last-update {
            text-align: center;
        }
    }
}

.baseColor {
    fill: $primary;
}

.stastics-section {
    @include mobile {
        .dashboard-card {
            &.dashbaord-stastics {
                padding: 20px 0px;
                margin-bottom: 15px;
                h2 {
                    font-size: 12px;
                }
                p {
                    font-size: 13px;
                }
            }
        }
        .col-md-3 {
            &:nth-child(odd) {
                padding-right: 5px;
            }
            &:nth-child(even) {
                padding-left: 5px;
            }
        }
    }
}

.btn-icon {
    position: absolute;
    left: 0;
    i {
        font-size: 1.125rem;
        padding-right: 4px;
    }
}

.dashboard-card {
    .dashboard-charts {
        .chart-container {
            height: 430px;
            padding-bottom: 30px;
            position: relative;
        }
        @include mobile {
            height: auto;
            overflow: visible;
            .chart-container {
                overflow-x: auto;
                overflow-y: hidden;
                height: 420px;
            }
            #activity-timeline-report,
            #alerts-by-type,
            #aging-by-alert-type,
            #customers-by-work-type,
            #customers-account-by-month,
            #customers-by-industry {
                // width: 550px;
                width: auto;
                overflow: auto;
            }
        }
    }
}
.chart-container {
    height: 270px;
    #logs-total-actions {
        height: 100%;
    }
    @include mobile {
        overflow-x: auto;
        overflow-y: hidden;
        height: 420px;
        #logs-total-actions {
            width: 550px;
        }
    }
}

#activity-timeline-report {
    @include mobile {
        width: 550px;
        overflow: auto;
    }
}

.no-record-image {
    svg {
        max-width: 110px;
        margin: auto;
        margin-bottom: 10px;
        display: block;
    }
}

a {
    &.primary {
        color: $primary !important;
    }
    &.secondary {
        color: $secondary !important;
    }
}

.flex-items {
    display: flex;
    li {
        width: 100%;
        &.search-filter {
            width: 70%;
        }
        &.filter-selection {
            width: 70%;
        }
        &.alert-switch {
            width: 150%;
            .btn-group-toggle {
                width: 100%;
            }
        }
        button {
            width: 100%;
        }
    }
}

.info {
    color: $nav-color;
    position: relative;
    padding-left: 30px;
    i {
        font-size: 1.375rem;
        position: absolute;
        left: 0;
        bottom: auto;
        top: -4px;
        margin: auto;
    }
}

.file-upload {
    border-top: 1px solid $grey-dark;
    padding-top: 20px;
}

.step-form {
    h3 {
        font-size: 1.125rem;
        margin-bottom: 20px;
        font-family: $font_medium;
        @include mobile {
            font-size: 16px;
        }
    }
    .fields-area {
        border-bottom: 1px solid $grey-dark;
        margin-bottom: 44px;
        padding-bottom: 20px;

        @include tablet {
            margin-bottom: 25px;
            padding-bottom: 10px;
        }
    }
    .rangeto {
        span {
            position: absolute;
            bottom: 36px;
            margin: auto;
            left: 49%;
            color: $grey-medium;
        }
    }
    &.registered-customer-id {
        .registration-completed {
            margin-bottom: 32px;
            padding-bottom: 31px;
            h3 {
                margin-bottom: 16px;
            }
        }
    }
}

.brand-logo-area {
    max-width: 570px;

    @include tablet {
        max-width: 100%;
    }

    .brand-logo {
        @include tabletF {
            height: 73px;
            width: 150px;
        }
        @include mobile {
            height: 72px !important;
            width: 150px;
            margin-top: 0px !important;
            margin-bottom: 1.1rem;
        }
    }
}

.brand-color-area {
    max-width: 870px;
}

.config-card-switch {
    .fields-area {
        border-bottom: 1px solid $grey-dark;
        margin-bottom: 34px;
        padding-bottom: 9px;

        @include mobile {
            margin-bottom: 17px;
            padding-bottom: 0;
        }
    }
}

.registration-completed {
    p {
        font-size: 0.875rem;
    }
}

.generated-customer-id {
    border: 1px solid $border-color;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    margin: auto;
    padding: 8px 10px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-width: 200px;
    background-color: $table-footer-bg;
    h4 {
        font-family: $font_medium;
    }
    p {
        margin-bottom: 0px;
        font-size: 0.75rem;
        color: $nav-color;
    }
}

.work-impact {
    position: relative;
    text-decoration: none;
    .custom-popover {
        position: absolute;
        background-color: #fff;
        width: 310px;
        top: 27px;
        left: -10px;
        z-index: 999;
        padding: 28px 26px 20px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        opacity: 0;
        box-shadow: 0px 2px 14px rgba(50, 50, 93, 0.4);
        display: none;
        border-radius: 8px;
        ul {
            list-style: none;
            padding: 0;
            margin-bottom: 0;
            li {
                // margin-bottom: 3px;
                margin-bottom: 8px;
                label {
                    color: $body-color !important;
                }
                &:last-child {
                    label {
                        margin-bottom: 0px;
                    }
                }
                label {
                    color: $dark;
                    width: 200px;
                }
            }
        }
        &:before {
            content: '';
            width: 0;
            height: 0;
            border-left: 11px solid transparent;
            border-right: 11px solid transparent;
            border-bottom: 11px solid #fff;
            position: absolute;
            top: -10px;
            margin: auto;
            right: 0;
            left: 0;
            box-shadow: 0px 3px 74px rgba(50, 50, 93, 0.5);
        }
        &.small {
            width: 170px;
            ul {
                li {
                    label {
                        width: 90px;
                    }
                    .bold {
                        font-weight: bold;
                        color: $body-color;
                    }
                }
            }
        }
    }
    &:hover,
    &:focus {
        .custom-popover {
            opacity: 1;
            display: block;
        }
    }
}

.high {
    color: $high;
}
.medium {
    color: $medium;
}
.low {
    color: $low;
}
.card {
    &.custom-card {
        padding: $card-padding;
        border-radius: $upload-border-radius;
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.07);
        margin-bottom: 0.625rem;
        .logo {
            width: 42px;
            height: 42px;
            margin: auto;
            background-size: 24px;
            border: 1px solid $border-color;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 16px;
            border-radius: 5px;
        }
        h4 {
            font-size: 1.5rem;
            text-align: center;
            font-family: $font_medium;
            margin-bottom: 0.625rem;
        }
        p {
            margin-bottom: 15px;
            color: $nav-color;
            text-align: center;
        }
        .btn {
            i {
                font-size: 1.3rem;
            }
            &.btn-primary {
                margin: 8px 0px;
            }
            &.btn-link {
                display: flex;
                align-items: center;
                text-decoration: none;
                padding-left: 0px;
                padding-right: 0px;
                justify-content: center;
                i {
                    margin-right: 10px;
                }
            }
        }
        &.small-card {
            .logo {
                display: inline-block !important;
            }
            h4 {
                display: inline-block !important;
            }
        }
    }
}

.small-card {
    margin-bottom: 20px;
    .card {
        &.custom-card {
            cursor: pointer;
            border-color: transparent;
            background-color: $grey-dark;
            max-height: 90px;
            .logo {
                display: inline-block !important;
                margin-left: 0;
                position: absolute;
                top: 20px;
                width: 17px;
                height: auto;
                background-size: 100% 100%;
                border: 0px solid;
            }
            h4 {
                display: inline-block !important;
                text-align: left;
                padding-left: 23px;
                font-size: 0.79rem;
                margin-bottom: 0;
            }
            p {
                &.caption-description {
                    text-align: left;
                    color: $grey-lite;
                    padding-top: 11px;
                    margin-bottom: 0;
                    padding-left: 0px;
                    font-family: $font_light;
                }
            }
        }
    }
    .active {
        .card {
            &.custom-card {
                background-color: #fff;
                p {
                    &.caption-description {
                        color: $body-color;
                        font-family: $font_medium;
                    }
                }
                h4 {
                    font-family: $font_black;
                    font-size: 0.79rem;
                }
            }
        }
    }
}

// Filter Section

.filter-section {
    margin-bottom: 14px;
    position: relative;

    @include mobile {
        margin-bottom: 20px;
        button {
            margin-bottom: 10px;
        }
    }

    &.full-area {
        .row {
            margin-left: -10px;
            margin-right: -10px;
            > div {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    .filter-title-section {
        h2 {
            margin-top: 7px;
        }
        &.font-sm {
            @include Desktop1380 {
                h2 {
                    font-size: 1.25rem;
                }
            }
        }
    }
    h2 {
        font-family: $font_medium;
        color: $grey-darkest;
        font-size: 1.625rem;
        margin-top: 0;
        margin-bottom: 20px;

        @include windowS {
            font-size: 22px;
        }
        @include tablet {
            font-size: 20px;
        }

        @include mobile {
            font-size: 18px;
        }
    }

    a {
        text-decoration: none;
        color: $grey-lite !important;

        span {
            margin-top: 3px;
            display: inline-block;
        }
        i {
            margin-right: 8px;
            color: $grey-lite !important;
            font-size: 10px;
        }
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            display: inline-block;
            margin-right: 20px;

            .btn-link {
                padding: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .btn-secondary,
    .btn-primary {
        min-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    &.sub-filter {
        h2 {
            margin: 44px 0 34px 0;
        }
        &.risk-rating-sub-heading {
            h2 {
                margin: 44px 0 24px 0;
            }
        }
    }

    .form-group {
        @include mobile {
            margin-bottom: 12px;
        }
    }

    .col-md-9 {
        @include tablet {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .btn-section {
        @include mobile {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}

.indication-icons {
    text-align: center;
    width: 20px;
    height: 20px;
    margin: auto;
    display: table;

    i {
        width: 20px;
        height: 20px;
        font-size: 8px;
        border-radius: 100%;
        display: table-cell;
        vertical-align: middle;
        &:before {
            width: 100%;
            height: 100%;
        }
    }
    &.pending {
        i {
            background-color: #e4e4e6;
            color: #fff;
        }
    }
    &.inreview {
        i {
            background-color: #1b1b1e;
            color: #fff;
        }
    }
    &.reject {
        i {
            background-color: #c91f37;
            color: #fff;
        }
    }
}

.status-review {
    position: relative;
    a {
        padding-left: 30px;
        text-decoration: none;
        i {
            position: absolute;
            left: 0px;
            font-size: 25px;
            top: -4px;
            margin: auto;
            bottom: 0;
        }
    }
}

.work-impact {
    i {
        padding-left: 10px;
        top: 1px;
        font-size: 11px;
        position: relative;
    }
}

.profile-absolute {
    width: 50px;
    padding: 0;
}

.status-absolute-pos {
    width: 225px;
}

.form-options {
    padding-top: 20px;
}

.profile-area {
    position: relative;
    width: auto;
    height: auto;
    display: block;
    top: 0px;
    margin: auto;
    .profile-pic {
        width: 34px;
        height: 34px;
        background-size: cover;
        background-position: top center;
        border-radius: 100%;
        background-color: $grey-xlite;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: -10px;
    }
    &.l-18 {
        left: -18px;
    }
}

.form-radio {
    .custom-radio {
        margin-top: 11px;
    }

    &.reg-channel {
        .custom-control-inline {
            margin-right: 12px;

            span {
                margin-right: 0;
                margin-left: 0;
            }
        }
    }
}

.seprator-line {
    hr {
        margin: 7px 0 31px 0;
        border-color: $grey-dark;
    }
}

.system-user-filter {
    ul {
        display: flex;
        li {
            width: 100%;
        }
    }
    .search-input {
    }
    .btn {
        width: 100%;
    }
}

.customer-info {
    .customer-profile {
        width: 100%;
        border-radius: 8px;
        background-size: cover;
        @include mobile {
            img {
                margin: auto;
            }
        }
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;

        &:last-of-type {
            .seprator-section {
                padding-bottom: 0px;
                border-bottom: none;
                margin-bottom: 0;
            }
        }

        li {
            .seprator-section {
                padding-bottom: 20px;
                border-bottom: 1px $grey-dark solid;
                margin-bottom: 32px;
                h3 {
                    margin-bottom: 24px;
                    font-size: 1.125rem;
                    font-family: $font_medium;

                    @include tablet {
                        margin-bottom: 20px;
                        font-size: 16px;
                    }
                }
                label {
                    font-size: 0.875rem !important;
                }

                ul {
                    margin-bottom: 0;
                    li {
                        margin-bottom: 12px;

                        @include tablet {
                            margin-bottom: 6px;
                        }

                        label {
                            text-transform: none;
                            margin-bottom: 7px;
                            font-size: 0.875rem;
                            font-family: $font_light;
                            color: $nav-color;
                            @include mobile {
                                line-height: 18px;
                            }
                            a {
                                color: $nav-color;
                                text-decoration: none;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                            @include windowS {
                                font-size: 0.78rem !important;
                            }
                            @include mobile {
                                font-size: 0.876rem !important;
                            }
                        }
                        span {
                            @include windowS {
                                font-size: 0.78rem !important;
                            }
                            @include mobile {
                                font-size: 0.876rem !important;
                                display: block;
                            }
                        }
                        @include mobile {
                            flex: 0 0 50%;
                            &:last-child {
                                flex: 0 0 50%;
                                flex-flow: column;
                            }
                        }
                    }
                }

                @include tablet {
                    padding-bottom: 8px;
                    margin-bottom: 15px;
                }
            }
        }
    }

    img {
        border-radius: 8px;
        min-width: 90%;
    }

    .pending {
        margin: 24px auto;
        position: static;
        width: 110px;
        &.status-view {
            margin-right: 8px;

            @include tablet {
                min-width: 100%;
                margin-right: 0;
            }

            @include tablet {
                min-width: 150px;
            }
        }
        @include mobile {
            margin-top: 0px;
        }
    }
    .approved {
        margin: 24px auto;
        position: static;
        width: 110px;
        &.status-view {
            margin-right: 8px;

            @include tablet {
                min-width: 100%;
                margin-right: 0;
            }

            @include tablet {
                min-width: 150px;
            }
        }
        @include mobile {
            margin-top: 0px;
        }
    }
    .rejected {
        margin: 24px auto;
        position: static;
        width: 110px;
        &.status-view {
            margin-right: 8px;

            @include tablet {
                min-width: 100%;
                margin-right: 0;
            }

            @include tablet {
                min-width: 150px;
            }
        }
        @include mobile {
            margin-top: 0px;
        }
    }
}
.system-logs-table {
    margin-top: 40px;
}

.customers-info-section {
    .customer-profile {
        @include mobile {
            margin-bottom: 30px;
        }
    }
}

.screen-section {
    .pending {
        display: none;
    }
}

.table {
    thead {
        th {
            &.with-icon {
                &:before {
                    margin-right: 10px;
                    font-size: 0.75rem;
                    vertical-align: baseline;
                    position: relative;
                    top: 1px;
                    color: $grey-lite !important;
                }
            }
            &.person-icon {
                &:before {
                    position: relative;
                    @extend .icon-person;
                    font-family: 'icomoon';
                }
            }
            &.document-icon {
                &:before {
                    position: relative;
                    @extend .icon-documentation;
                    font-family: 'icomoon';
                }
            }
            &.graph-icon {
                &:before {
                    position: relative;
                    @extend .icon-graph;
                    font-family: 'icomoon';
                }
            }

            &.sanction-icon {
                text-align: center;

                &:before {
                    content: '\e957';
                    font-size: 15px;
                    font-weight: 100;
                    font-family: 'icomoon';
                    padding-right: 10px;
                }
            }

            &.rep-icon {
                text-align: center;

                &:before {
                    content: '\e92a';
                    font-size: 15px;
                    font-weight: 100;
                    font-family: 'icomoon';
                    padding-right: 10px;
                    font-weight: 100;
                }
            }

            &.enforcement-icon {
                text-align: center;

                &:before {
                    content: '\e94d';
                    font-size: 14px;
                    font-weight: 100;
                    font-family: 'icomoon';
                    padding-right: 10px;
                    font-weight: 100;
                }
            }

            &.blacklist-icon {
                text-align: center;

                &:before {
                    content: '\e942';
                    font-size: 14px;
                    font-family: 'icomoon';
                    font-weight: 100;
                    padding-right: 10px;
                }
            }
        }
    }
    @include mobile {
        min-width: 1380px;
        th {
            width: 300px;
            &.profile-absolute {
                width: 80px;
            }
        }
    }
}

.iframe-section {
    padding: 32px 20px 32px;
    .scrollable {
        max-height: 470px;
    }

    iframe {
        width: 100%;
        min-height: 400px;
        border: none;
        overflow: hidden;
    }
}

.document-section {
    ul {
        padding-left: 0;
        list-style-type: none;
        margin-bottom: 0;
        li {
            &.col-md-3 {
                @include tablet {
                    flex: 0 0 50%;
                    max-width: 50%;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }

                @include mobile {
                    margin-bottom: 0;
                    margin-top: 0;
                }
            }

            .document-detail {
                width: 100%;
                cursor: pointer;
                border: 1px solid $border-color;
                border-radius: $upload-border-radius;
                overflow: hidden;

                .photo-section {
                    padding: 12px 17px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 205px;
                    text-align: center;
                    img {
                        max-height: 165px;
                        @include mobile {
                            width: 100% !important;
                            max-width: 100% !important;
                            max-height: auto;
                        }
                    }
                }

                .upload-detail {
                    background-color: $upload-bg;
                    padding: 16px 12px;

                    .upload-thumbnail {
                        width: 22px;
                        display: inline-block;
                        vertical-align: top;
                    }

                    .upload-des {
                        width: calc(100% - 22px);
                        display: inline-block;
                        padding: 0 13px;

                        label {
                            font-size: 0.875rem;
                            color: $body-color;
                            text-transform: capitalize;
                            margin-bottom: 2px;
                        }

                        p {
                            margin-bottom: 0;
                            color: $grey-lite;
                            font-size: 0.75rem;
                        }
                    }
                }
                @include mobile {
                    margin-bottom: 30px;
                }
            }
        }
    }
    @include mobile {
        .photo-section {
            img {
                height: auto;
            }
        }
    }
}

.customer-profile {
    .wrap-content {
        .document-section {
            @include mobileS {
                padding: 30px 20px 0;
            }
            .col-md-3 {
                @include mobileS {
                    flex: 100% !important;
                    max-width: 100% !important;
                }
            }
        }
    }
}

.w-100px {
    width: 100px !important;
}
.w-120px {
    width: 120px !important;
}

.w-150px {
    width: 150px;
}

.w-170px {
    width: 170px;
}

.w-180px {
    width: 180px;
}

.w-200px {
    width: 200px;
}

.w-230px {
    width: 230px;
}

.w-300px {
    width: 300px;
}

.w-320px {
    width: 320px;
}

.w-190-lg {
    @include Desktop1380 {
        width: 190px;
    }
}
.w-270-lg {
    @include Desktop1380 {
        width: 270px;
    }
}
.w-130-lg {
    @include Desktop1380 {
        width: 130px;
    }
}

#add-select-field-popup {
    .row-min-space {
        .col-md-6 {
            @include mobile {
                width: 50%;
            }
        }
    }
}

.custom-file-input {
    cursor: pointer;
}

.permissions-section {
    .col-form-label {
        width: 100%;
        min-height: 40px;
    }
}

.videoRecored {
    .show-record-video {
        button.vjs-record-button {
            z-index: -1;
        }
    }
}

.show-record-video {
    button.vjs-record-button {
        width: 75px;
        height: 90px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -168%;
        z-index: 9;
        outline: 0;
        opacity: 0;
    }
}
.config-list {
    ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        li {
            // margin-right: 3px;
            margin-right: 0px;

            a {
                padding: 17px 16px 14px 16px;
                color: #7f8fa4;
                background: #ebebf2;
                margin-right: 8px;
                font-family: $font_light;
                border-radius: 8px 8px 0px 0px;
                text-decoration: none;
                border-color: transparent !important;
                display: block;
                position: relative;
                top: 0px;
                height: 46px;
                cursor: pointer;
                &.router-link-exact-active {
                    background-color: #fff;
                    color: $body-color !important;
                    font-family: $font_medium;
                }
                @include windowS {
                    margin-right: 4px;
                    font-size: 0.75rem;
                }
            }
            &:last-child {
                margin-right: 0px;
            }
            &.open-dropdown {
                position: relative;
                > a {
                    padding: 14px 26px 14px 26px;
                    margin-right: 0;
                }
                i {
                    font-size: 1.2rem;
                }
                .dropdown-open {
                    position: absolute;
                    z-index: 9;
                    width: 232px;
                    right: 0;
                    // border: 0.5px solid $border-color;
                    top: 100%;
                    box-shadow: 2px 3px 13px rgba(50, 50, 93, 0.2);
                    li {
                        width: 100%;
                        margin-right: 0px;
                        border-top: 1px solid #ccccd8;
                        a {
                            // box-shadow: 0px 0.5px 0px rgba(50, 50, 93, 0.2);
                            background-color: #fff;
                            padding: 14px 24px;
                            margin-right: 0px;
                            border-radius: 0px;
                            font-size: 0.875rem;
                            &.router-link-exact-active.router-link-active {
                                color: $secondary !important;
                            }
                        }
                        &:last-child {
                            text-transform: initial;
                            margin-bottom: 0px;
                            border-bottom: 1px solid #ccccd8;
                        }
                    }
                }
                &.router-link-exact-active {
                    > a {
                        background-color: #fff;
                        color: $secondary;
                    }
                }
            }
            &.open-dropdown {
                li {
                    &:first-child {
                        border-top: 0px solid #ccccd8;
                    }
                    a {
                        height: auto;
                    }
                }
            }
        }
    }
}

.aging-alert-chart {
    @include Desktop1380 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.changedevice {
    display: none;
}

.video-record {
    position: relative;
    max-width: 500px;
    margin-bottom: 80px;
    .video-play {
        position: absolute;
        top: 90%;
        // top: 76%;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
        text-align: center;
        max-width: 100px;
        i {
            &.icon-record {
                font-size: 70px;
            }
        }
        p {
            color: $red;
            text-transform: uppercase;
            font-family: $font_medium;
            margin-top: 5px;
        }
    }
}

.icon-record {
    i {
        font-style: normal;
    }
}

.table-scroll {
    overflow-y: auto;
    max-height: 397px;
    margin-top: 30px;
    padding-right: 5px;

    @include mobile {
        max-height: 387px;
    }
    .inner {
        border: solid 1px $border-color;
        min-height: 390px;
    }
    .table {
        min-width: 0;
    }
}

.brand-color-area {
    label {
        font-size: $label-font-size !important;
        font-family: $font-medium;
        color: $grey-lite;
        text-transform: uppercase;
    }
}

.config-card-switch {
    .card {
        &.custom-card {
            text-align: left;
            border: 0px solid;
            padding: 28px 24px;
            box-shadow: 0px 0.5px 0px rgba(50, 50, 93, 0.2);
            h5 {
                font-size: 0.9375rem;
                margin-bottom: 20px;
            }
            p {
                text-align: left;
                color: $body-color;
                margin-bottom: 22px;
                &.review-alert {
                    color: #ed1c24;
                }
            }
            button {
                margin-right: 20px !important;
                text-transform: initial;
            }
        }
        .brand-logo {
            height: 43px;
            border-radius: 7px;
            margin-top: 21px;
            display: flex;
            padding: 7px 14px;
            img {
                height: auto;
                margin: auto;
            }
            .logo-area-preview {
                width: 100%;
                background-size: 100%;
                height: auto;
                background-repeat: no-repeat;
                background-position: 50%;
            }
            &.light {
                background-color: #f2f2f6;
            }
            &.dark {
                background-color: #1b1b1e;
            }
            @include mobile {
                height: 133px;
            }
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}

.color-area {
    position: relative;
    input[type='color'] {
        position: absolute;
        top: 0;
        opacity: 0;
        width: 20%;
        right: 0;
        z-index: 9;
        cursor: pointer;
    }
    .input-color {
        position: absolute;
        right: 13px;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        width: 72px;
        .color-pallet {
            width: 24px;
            height: 24px;
            border-radius: 4px;
        }
        i {
            position: absolute;
            right: 3px;
            font-size: 1.3rem;
            color: $grey-lite;
        }
    }
    input[type='text'] {
        color: $grey-lite;
    }
}

.doc-verify-section {
    .verify-status {
        .col-md-6 {
            ul {
                &:last-of-type {
                    li {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

// .work-impact {
//     color: $nav-color !important;
// }

.config-card-block {
    background-color: #fff;
    padding: 32px;
    box-shadow: 0px 0.5px 0px rgba(50, 50, 93, 0.2);

    @include mobile {
        padding: 14px 16px 32px;
    }

    .col-md-4,
    .col-md-8 {
        @include mobile {
            width: 50%;
        }
    }

    .col-md-7 {
        @include mobile {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
        .col-md-3 {
            @include mobile {
                flex: 0 0 40% !important;
                max-width: 40% !important;
            }
        }

        .col-md-9 {
            @include mobile {
                flex: 0 0 60% !important;
                max-width: 60% !important;
            }
        }
    }

    .col-md-5 {
        @include mobile {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
    }

    .filter-section {
        .filter-title-section {
            @include tablet {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        .col-md-7 {
            @include tablet {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    .infoengine {
        .filter-section {
            .filter-heading {
                @include mobile {
                    margin-bottom: 0;
                    margin-top: 7px;
                }
            }

            h2 {
                @include mobile {
                    margin-bottom: 12px;
                }
            }
        }
    }
}
.user-roles-action {
    width: 200px;
}

.filter-section {
    .col-md-9 {
        @include tablet {
            flex: 0 0 75%;
            max-width: 75%;
        }
    }
}

.status-type-icon {
    i {
        font-size: 1.3rem;
        &.sanctions {
            color: $body-color;
        }
        &.pending {
            color: $grey-xlite;
        }
        &.danger {
            color: $danger-dark;
        }
        &.ok-level {
            color: $secondary;
            font-size: 27px;
        }
        &.circle-area {
            border-radius: 10px;
            color: #fff;
            font-size: 0.9rem;
            display: flex;
            width: 24px;
            height: 24px;
            align-items: center;
            justify-content: center;
            margin: auto;
            &.pending {
                background-color: $grey-xlite;
            }
            &.danger.circle-area {
                background-color: $danger;
            }
            &.sanctions.circle-area {
                background-color: $body-color;
            }
        }
    }
}
.risk-factor-table {
    .table {
        tr {
            &:last-child {
                background-color: $table-footer-bg;
                td {
                    font-family: $font_bold;

                    .pending,
                    .approved,
                    .rejected {
                        font-family: $font_regular;
                    }
                }
            }
        }
        @include mobile {
            min-width: 540px;
            .risk-factor {
                width: 380px;
            }
            .risk-score {
                width: 210px;
                text-align: center;
            }
            .risk-level {
                text-align: center;
            }
        }
    }
    margin-bottom: 32px;
}

.tags-section {
    background-color: $upload-bg;
    border: 1px solid $border-color;
    border-radius: 8px;
    height: 44px;
    overflow: hidden;

    .tag-status {
        float: right;
        width: 44px;
        height: 44px;
        background-color: $white;
        border-left: 1px $border-color solid;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            width: 24px;
            height: 24px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                color: $white;
                font-size: 12px;
            }

            &.danger {
                background-color: #c91f37;
            }

            &.success {
                background-color: #00c535;
            }

            &.warning {
                background-color: #f4c200;
            }
            &.black {
                background-color: #1b1b1e;
            }
        }
    }

    .tags {
        width: calc(100% - 44px);
        float: left;
        height: 44px;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 0 15px;

        i {
            font-size: 16px;
            margin-right: 10px;
            color: $primary;
        }

        label {
            text-transform: capitalize;
            color: $body-color;
            font-family: $font_medium;
            font-size: 0.875rem !important;
            margin-bottom: 0;
            @include windowS {
                font-size: 0.8rem !important;
            }
        }
    }
    @include mobile {
        margin-bottom: 20px;
    }
}

.kyc-status-section {
    h3 {
        margin-bottom: 20px;
        font-size: 1.125rem;
        font-family: $font_medium;
        @include mobile {
            font-size: 16px;
        }
    }

    hr {
        margin: 30px 0 25px;
        border-color: $border-color;

        @include mobile {
            margin: 7px 0 17px;
        }
    }
}

.win-small-full {
    @include windowS {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 20px;
    }

    @include mobile {
        margin-bottom: 0;
    }
}

.customer-link {
    a {
        color: $body-color;
        text-decoration: none;

        &:hover {
            color: $grey-lite;
        }
    }
}

.modal {
    .modal-body {
        .multiselect__tag,
        .multiselect__element span span {
            text-transform: uppercase;
        }

        .custom-radio {
            .custom-control-label {
                span {
                    color: $body-color;
                }
            }
        }

        .row-min-space {
            .row {
                margin-left: -7px;
                margin-right: -7px;

                .col-md-6,
                .col-md-4 {
                    padding-left: 7px;
                    padding-right: 7px;
                }
            }
        }

        .screening-hit-section {
            @include mobile {
                height: 100%;
                max-height: 570px;
            }

            label {
                @include mobile {
                    margin-bottom: 5px;
                }
            }

            .col-md-8 {
                @include mobile {
                    margin-bottom: 10px;
                }
            }

            h4 {
                @include mobile {
                    margin-top: 11px;
                    margin-bottom: 14px;
                }
            }
        }
    }
}

.export-radio-section {
    width: 100%;
    float: left;

    .icon-section {
        width: 32px;
        float: left;

        svg {
            width: 23px;
            margin-bottom: 15px;
        }

        .pdf-icons {
            svg {
                margin-bottom: 0;
            }
        }
    }

    .export-form-section {
        width: calc(100% - 32px);
        float: left;
        padding-left: 5px;

        .custom-radio {
            .custom-control-label {
                span {
                    text-transform: none;
                    color: $body-color;
                }
            }
        }

        .export-files {
            margin-bottom: 15px;
            .custom-control-label {
                margin-bottom: 23px;
                margin-top: 7px;
            }
        }
    }
}

.content-full-width {
    .customer-profile {
        &.registration-customer-form {
            @include tabletL {
                header {
                    .menu-list {
                        display: none;
                    }
                    &.show-menu {
                        .menu-list {
                            display: block;
                        }
                    }
                }
            }
            @include mobile {
                header {
                    &.show-menu {
                        .menu-list {
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}

.colorLogo {
    img {
        &.inverse {
            display: none;
        }
        &.main {
            display: block !important;
            @include tabletL {
                display: none !important;
            }
        }
    }
}

.font-semibold {
    font-family: $font_medium !important;
}

.modal-body {
    .tags-section {
        .tags {
            label {
                line-height: 0;
            }
        }
    }

    .custom-file-label {
        text-transform: inherit;
    }

    .scrollable {
        overflow-x: hidden;
        max-height: 420px;
        margin-bottom: 24px;
        @include mobile {
            overflow-x: hidden;
            // max-height: calc(100% - 190px);
            // margin-bottom: 0px;
            max-height: none;
            margin-bottom: 0px;
            height: 100%;
        }
    }

    #style-2::-webkit-scrollbar {
        width: 5px;
        background-color: #ced3d8;
    }

    .screening-hit-section {
        label {
            text-transform: none;
            font-family: $font_regular;
            font-size: 0.875rem !important;
            margin-bottom: 12px;
        }

        ul {
            padding-left: 17px;
            list-style-type: none;
            li {
                margin-bottom: 5px;

                position: relative;

                &:after {
                    content: '';
                    width: 4px;
                    height: 4px;
                    background-color: $primary;
                    position: absolute;
                    border-radius: 100%;
                    left: -15px;
                    top: 4px;
                }
            }
        }

        h4 {
            font-size: 1.125rem;
            margin-top: 25px;
            margin-bottom: 20px;
            font-family: $font_medium;
        }
    }

    h5 {
        font-size: 0.875rem;
        font-family: $font_medium;
        color: $body-color;
        margin-bottom: 10px;
    }

    .scale-type {
        h4 {
            font-family: $font_medium;
            font-size: 1.125rem;
            margin-bottom: 18px;
        }
        .col-md-4 {
            @include mobile {
                margin-bottom: 20px;
            }
        }
    }

    .system-user-warning {
        width: 22px;
        float: left;

        i {
            font-size: 22px;
            transform: rotate(180deg);
            display: block;
            color: $nav-color;
        }
        &.password-validation {
            i {
                font-size: 16px;
                color: #7f8fa4;
                position: absolute;
                top: 0;
                left: 30%;
                transform: rotate(180deg);
                display: block;
                cursor: pointer;
                &:hover {
                    color: $secondary;
                }
            }
        }
    }

    .system-user-details {
        width: calc(100% - 22px);
        float: left;
        padding-left: 12px;

        p {
            color: $grey-lite;
        }
    }

    textarea,
    input,
    .field-input {
        font-size: 0.875rem !important;
    }

    .add-more-section {
        .form-group {
            padding: 0 4px;
        }
    }
    @include mobile {
        overflow-x: hidden;
        max-height: calc(100% - 120px);
        margin-bottom: 0px;
    }
}

.row-min-space {
    .row {
        margin-right: -4px;
        margin-left: -4px;

        .col-md-1,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9,
        .col-md-10,
        .col-md-11,
        .col-md-12 {
            padding-left: 4px;
            padding-right: 4px;
        }
    }
}

.mb-20 {
    margin-bottom: 20px;
}

.kyc-status-radio {
    .custom-control-inline {
        min-width: 140px;
        margin-bottom: 15px !important;

        &:nth-child(3),
        &:nth-child(4) {
            margin-bottom: 0;
        }
        @include mobile {
            margin-bottom: 11px !important;
        }
    }

    &.overwrite-radio {
        .custom-control-inline {
            margin-bottom: 0;
        }
    }
}

.screen-customer {
    .table {
        a {
            text-decoration: none;
        }
    }
}

.document-preview-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 24px;

    &.video-modal {
        height: 290px;
        overflow: hidden;
    }

    .preview-video {
        width: 100%;
        min-height: 290px;
        background-size: cover;
        .image-preview {
            width: 100% !important;
        }
        @include mobile {
            min-height: initial;
        }
    }
    .play-btn {
        position: absolute;
    }

    video {
        width: 100%;
    }
}
.content-full-width {
    .content-area {
        width: 100%;
        header {
            width: 100%;
            .logo-container {
                display: inline-block;
                @include tablet {
                    margin-left: 10px;
                    position: relative;
                    top: -2px;
                }
            }
            .navigation {
                max-width: $block-width;
                margin: auto;
                width: 100%;
                display: block;
                ul {
                    display: inline-block;
                    float: right;
                    @include mobile {
                        display: flex;
                        float: none;
                    }
                }
            }
        }
        .wrap-content {
            max-width: $block-width;
            margin: auto;
        }
    }
    .sidebar {
        display: none !important;
    }
}

.archive-popup {
    .close {
        top: -2px !important;
    }
}

.months-length {
    position: relative;

    &:after {
        content: 'to';
        position: absolute;
        top: 15px;
        left: -8px;
        color: $nav-color;
        font-size: 12px;

        @include mobile {
            top: -20px;
            left: 50%;
            right: auto;
        }
    }
}

.upload-files {
    position: relative;
    margin-bottom: 16px;

    input {
        height: 92px;
        width: 100%;
        box-shadow: none;
        cursor: pointer;
    }

    label {
        display: none;
    }

    .custom-file {
        height: 92px;
        cursor: pointer;
        @include mobile {
            height: 120px;
        }
    }

    .file-detail {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $upload-bg;
        border: 1px solid $border-color;
        border-radius: $upload-border-radius;
        overflow: hidden;
        pointer-events: none;

        @include mobile {
            padding: 0 17px;
        }

        .file-title {
            h5 {
                font-size: 0.875rem;
                font-family: $font_medium;
                margin-bottom: 7px;

                @include mobile {
                    line-height: 19px;
                }
            }

            p {
                color: $nav-color;
                font-size: 0.875rem;
                margin-bottom: 0 !important;

                @include mobile {
                    line-height: 19px;
                }
            }
        }
    }
}

.file-activity {
    width: 100%;
    float: left;
    margin-bottom: 24px;

    .file-thumbnail {
        width: 22px;
        float: left;
    }

    .file-progress {
        width: calc(100% - 22px);
        float: left;
        padding-left: 10px;
        position: relative;

        h6 {
            color: $nav-color;
            font-family: $font_regular;
            font-size: 0.75rem;
            margin-bottom: 7px;
        }

        span {
            position: absolute;
            top: 0;
            right: 0;
            font-family: $font_medium;
            font-size: 0.75rem;
        }
    }
}

.progress {
    height: 12px;
    border-radius: $progress-radius;
    background-color: $white;
    border: 1px $border-color solid;
    padding: 2px;
    margin-bottom: 0 !important;

    .progress-bar {
        border-radius: $border-radius;
        background-color: $secondary;
    }
}

.permissions-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 6px;
}

.clipboard {
    background-color: $table-footer-bg;
    height: $input-height;
    border: 1px $border-color solid;
    border-radius: $border-radius;
    position: relative;
    padding: 12px 10px 5px;
    color: $body-color;

    i {
        position: absolute;
        right: 13px;
        top: 8px;
        color: $secondary;
        font-size: 22px;
        cursor: pointer;
    }
}

.export-process {
    text-align: center;
    margin-bottom: 24px;

    svg {
        margin-top: 8px;
        width: 50px;
    }

    p {
        margin-bottom: 0;
    }

    label {
        text-transform: capitalize;
        color: $body-color;
        font-family: $font_bold;
        margin: 19px 0 3px;
        font-size: 0.875rem !important;
    }

    .loading {
        width: 75px;
        margin: 0 auto 3px;
    }
}

.export-timeline {
    position: relative;
    width: 100%;

    .btn-secondary {
        position: absolute;
        right: 0;
        top: 38px;
        z-index: 9;
    }
}

.permissions-section {
    .form-group {
        @include mobile {
            margin-bottom: 16px;
        }
    }

    .custom-checkbox {
        width: 33.3%;
        float: left;

        &:nth-child(3n + 1) {
            clear: both;
        }

        @include mobile {
            width: 100%;
        }
    }

    .custom-radio {
        width: 31%;
        float: left;

        @include mobile {
            width: 100%;
        }
    }

    .col-form-label {
        .custom-checkbox
            .custom-control-input:checked
            ~ .custom-control-label::after,
        .custom-checkbox
            .custom-control-input:indeterminate
            ~ .custom-control-label::after {
            top: 7px;
        }

        label {
            font-family: $font_medium;
            margin-bottom: 15px;

            @include mobile {
                margin-bottom: 5px;
            }
            span {
                margin-left: 5px;
                margin-top: 3px;
                display: block;
            }
        }
    }
}

.alert-filter {
    .btn-group-toggle {
        width: 100%;
    }
    .btn-secondary,
    .btn-primary {
        padding-left: 10px;
        padding-right: 10px;
    }

    .col-md-11 {
        @include tablet {
            flex: 0 0 90%;
            max-width: 90%;
        }

        @include mobile {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .col-md-9 {
        @include tablet {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .col-md-3 {
            @include mobile {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }

    .col-md-1 {
        @include tablet {
            flex: 0 0 10%;
            max-width: 10%;
        }

        @include mobile {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.profile-filter {
    .btn-link {
        padding: 7px 6px;
    }
    .go-back-profile {
        @include tablet {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.customers-info-section {
    .col-md-3 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .col-md-9 {
        flex: 0 0 80%;
        max-width: 80%;
    }
    @include tabletF {
        .col-md-3 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-md-9 {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
        .customer-profile {
            img {
                max-width: 550px;
                min-width: 0px;
                margin: auto;
            }
        }
    }

    @include tablet {
        .col-md-9 {
            flex: 0 0 80% !important;
            max-width: 80% !important;
        }
    }

    @include mobile {
        .col-md-9 {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
    }
}

.form-builder-area {
    @include tablet {
        .col-md-8 {
            flex: 0 0 60%;
            max-width: 60%;
        }
        .col-md-4 {
            flex: 0 0 40%;
            max-width: 40%;
        }
        .form-field-types {
            p {
                max-width: 170px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    @include mobile {
        .col-md-8 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-md-4 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .form-field-types {
            p {
                max-width: 200px;
            }
            .action-icons,
            .change-password {
                margin-right: 10px !important;
            }
        }
    }
    @include mobileXs {
        .form-field-types {
            p {
                max-width: 150px;
            }
        }
    }
}

.customer-profile {
    .wrap-content {
        .col-md-3 {
            @include tabletF {
                // flex: 50% !important;
                // max-width: 50% !important;
                h2 {
                    // font-size: 1rem;
                }
                &.profile-image-section {
                    flex: 100%;
                    max-width: 100%;

                    @include mobile {
                        flex: 100% !important;
                        max-width: 100% !important;
                    }
                }
            }

            &.profile-image-section {
                @include tablet {
                    flex: 20%;
                    max-width: 20%;
                }
            }

            @include mobile {
                flex: 50% !important;
                max-width: 50% !important;
            }
        }
        .col-md-9 {
            @include tabletF {
                flex: 0 0 100%;
                max-width: 100%;
                position: unset;
                .col-md-3 {
                    text-align: center !important;
                    flex: 33%;
                    max-width: 33%;
                    &.go-back-profile {
                        position: absolute;
                        top: 0;
                        right: 0;
                        flex: 50%;
                        max-width: 50%;
                        text-align: right !important;
                    }
                }
                .btn-text {
                    // font-size: 0.6rem;
                }
            }
        }
    }
}

.secondary-add-btn {
    text-transform: capitalize;
}

.role-form-section {
    h4 {
        font-family: $font_regular !important;
    }

    .col-form-label {
        label {
            font-family: $font_bold;
        }
    }

    .ml-4 {
        .custom-control-label {
            font-family: $font_regular;
            color: $body-color !important;
            margin-bottom: 19px;
            margin-right: 15px;

            @include mobile {
                margin-bottom: 12px;
            }
        }
    }

    .custom-radio {
        label {
            span {
                color: $body-color !important;
            }
        }
    }
}

.alert-filter {
    .col-md-9 {
        @include windowS {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.tabs-bar {
    @include windowS {
        position: absolute;
        top: auto;
        bottom: 55px;
        right: -77px;
        flex: 0 0 45%;
        max-width: 45%;
    }

    @include mobile {
        position: static;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.activity-dashboard-page,
.customer-statistics-page {
    .filter-section {
        .title-detail,
        .col-md-8 {
            @include tablet {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    .stastics-section {
        .col-md-3 {
            @include tablet {
                flex: 0 0 33.33333%;
                max-width: 33.33333%;
            }

            @include mobile {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }

    .col-md-6 {
        @include tablet {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .toasted {
        background: $secondary !important;
        &.success {
            background: $success !important;
        }
        &.danger {
            background: $danger !important;
        }
    }

    .table-records {
        table {
            tr {
                th,
                td {
                    &:first-child {
                        text-align: left !important;
                    }

                    &:nth-child(2) {
                        text-align: center !important;
                    }
                }
            }
        }
    }

    .infoengine {
        .sub-filter {
            h2 {
                margin: 30px 0 20px 0;
            }
        }
    }
}

.profile-setup {
    @include mobile {
        .col-md-4 {
            margin-bottom: 15px;
        }
    }
    .star-required {
        font-size: 1.125rem;
        top: 1px;
        right: -3px;
    }
}

.gender-page {
    .disable-color {
        pointer-events: none;
    }
}

.tax-instruction {
    color: #a4a6ab;
    margin: 8px 0 0 0;
    display: flex;
    font-family: $font_light;
    span {
        font-size: 0.75rem;
        display: inline-block;
        vertical-align: text-top;
        margin-left: 3px;
        margin-top: 2px;

        @include tablet {
            display: contents;
        }
    }

    i {
        font-size: 15px;
        transform: rotate(180deg);
        display: contents;
    }
    @include mobile {
        margin: 12px 0 0 0;
        position: relative;
        span {
            padding-left: 18px;
            display: inline-block;
            margin-top: 4px;
        }
        i {
            margin-right: 0;
            position: absolute;
            top: 0;
        }
    }
}

.review-config-form {
    .custom-control-inline {
        width: 28%;
    }
}

.risk-level-page {
    .pending {
        font-size: 27px;
    }
}

.video-play {
    &.video-recorded {
        i {
            &.icon-record {
                &:after {
                    content: '\e947';
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    color: #fff;
                    font-family: icomoon;
                    font-size: 20px;
                    top: -36px;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            &.path3 {
                &:before {
                    display: none;
                }
            }
            &.path2 {
                &:before {
                    color: transparent;
                }
            }
            &.path2 {
                &:before {
                    color: $success;
                }
            }
        }
        p {
            color: $success;
        }
    }
}

.customer-last-review {
    .card-body {
        padding: 0;
        .status-view {
            position: absolute;
            right: 36px;
            left: auto;
            top: 36px;
            @include mobile {
                position: static;
                margin-top: 19px;
                float: left;
                margin-bottom: 0;
                margin-left: 53px;
            }
        }
        .profile-pic {
            width: 42px;
            height: 42px;
            background-size: cover;
            background-repeat: no-repeat;
            float: left;
            background-position: top center;
            border-radius: 100%;
        }

        .details-section {
            width: calc(100% - 42px);
            float: right;
            padding-left: 12px;
            position: relative;

            h5 {
                font-family: $font-medium;
                font-size: 1rem;
                margin-top: 5px;
                margin-bottom: 2px;
            }

            .date-content {
                margin-bottom: 20px;
            }

            .file-section {
                width: 21px;
                height: 32px;
                float: left;
                margin-top: 3px;
            }

            .file-attach {
                width: calc(100% - 21px);
                float: left;

                .btn {
                    padding: 0 0 0 10px;

                    @include mobile {
                        margin-bottom: 0;
                    }
                }
            }

            .status-types {
                font-size: 0.75rem;
                color: $grey-lite;
                font-family: $font_light !important;
                margin-right: 25px;
                margin-bottom: 25px;
                display: inline-block;
                position: relative;

                &:before {
                    content: '';
                    width: 3px;
                    height: 3px;
                    left: -14px;
                    top: 4px;
                    background-color: $grey-lite;
                    position: absolute;
                    border-radius: 100%;
                }

                &:first-of-type {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
    @include mobile {
        padding-top: 28px;
    }
}

.registration-customer-form {
    .filter-section {
        h2 {
            @include mobile {
                margin-bottom: 0;
            }
        }
    }
}

.registration-customer-form {
    .profile-block {
        position: relative;
        top: -13px;
        @include mobile {
            top: initial;
            position: absolute;
        }
    }
}

.form-registration {
    .filter-section {
        .col-md-8 {
            @include tablet {
                flex: 0 0 60%;
                max-width: 60%;
            }
            @include mobile {
                text-align: center !important;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        .col-md-4 {
            @include tablet {
                flex: 0 0 40%;
                max-width: 40%;
            }
            @include mobile {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}

.identification-section {
    img {
        max-width: 78%;
        display: inline-block;

        @include mobile {
            max-width: 100%;
        }
    }
}

.timer-countdown {
    position: absolute;
    right: 0;
    left: 1px;
    top: 26px;
    font-family: $font_medium;
    font-size: 1rem;
    color: $body-color;
    @include mobile {
        left: 0px;
        top: 27px;
    }
}

.vjs-control-bar {
    background-color: transparent !important;

    .vjs-current-time-display,
    .vjs-icon-placeholder,
    .vjs-time-control,
    .vjs-duration-display {
        display: none !important;
    }
}

.data-import {
    .col-md-3 {
        @include tablet {
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
        }

        @include mobile {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.relationship-section,
.purpose-section {
    .filter-title-section {
        @include tablet {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .filter-fields {
        @include tablet {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .col-md-5,
        .col-md-7 {
            @include tablet {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }
}

.system-users-section {
    .filter-section {
        .col-md-9 {
            @include tablet {
                flex: 0 0 85%;
                max-width: 85%;
            }

            @include mobile {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .col-md-3 {
                @include tablet {
                    flex: 0 0 25%;
                    max-width: 25%;
                }

                @include mobile {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }

        .col-md-3 {
            @include tablet {
                flex: 0 0 15%;
                max-width: 15%;
            }

            @include mobile {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        .col-md-5 {
            @include tablet {
                flex: 0 0 100%;
                max-width: 100%;
            }

            @include mobile {
                position: static;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

        .col-md-7 {
            @include tablet {
                position: absolute;
                top: auto;
                bottom: 76px;
                right: 0;
                flex: 0 0 100%;
                max-width: 100%;
            }

            @include mobile {
                position: static;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }
}

.system-logs-page {
    .filter-section {
        .col-md-9 {
            @include tablet {
                flex: 0 0 85%;
                max-width: 85%;
            }

            @include mobile {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        .col-md-3 {
            @include tablet {
                flex: 0 0 15%;
                max-width: 15%;
            }

            @include mobile {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .col-md-6 {
                @include tablet {
                    flex: 0 0 100%;
                    max-width: 100%;
                }

                @include mobile {
                    flex: 0 0 50%;
                    max-width: 50%;
                }

                &.export-btn-section {
                    @include tablet {
                        position: absolute;
                        top: -54px;
                        right: 0;
                    }

                    @include mobile {
                        position: static;
                    }
                }
            }
        }
    }
}

.customer-statistics-page {
    .filter-section {
        .btn-sm {
            @include mobile {
                min-width: 100% !important;
            }
        }
    }
}

.register-customer-body {
    @include tabletL {
        .menu-list {
            display: block !important;
        }
        .responsive-header-menu {
            display: none;
        }
        .profile-main {
            right: 20px !important;
        }
    }
}
.mobile-text-center {
    @include mobile {
        text-align: center;
    }
}

.screening-data-section {
    .filter-section {
        .filter-title-section {
            @include tablet {
                flex: 0 0 40%;
                max-width: 40%;
            }

            @include mobile {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        .col-md-4 {
            @include tablet {
                flex: 0 0 60%;
                max-width: 60%;
            }

            @include mobile {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .col-md-3 {
                @include mobile {
                    flex: 0 0 25%;
                    max-width: 25%;
                }
            }
        }
    }
}

.filter-btn-section {
    .col-md-5,
    .col-md-7,
    .col-md-8,
    .col-md-4 {
        @include mobile {
            width: 50%;
        }
    }
}

.customer-profile {
    .wrap-content {
        .col-md-3 {
            &.btn-profile-section {
                @include mobile {
                    flex: 0 0 100% !important;
                    max-width: 100% !important;
                }
            }
        }
    }
}

.filter-all-customers {
    .col-md-6 {
        .col-md-6 {
            @include tablet {
                flex: 0 0 75%;
                max-width: 75%;
            }

            @include mobile {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        .col-md-3 {
            @include tablet {
                flex: 0 0 25% !important;
                max-width: 25% !important;
            }

            @include mobile {
                flex: 0 0 50% !important;
                max-width: 50% !important;
            }

            &.export-file-btn {
                @include tablet {
                    position: absolute;
                    right: 0;
                    top: auto;
                    bottom: 55px;
                    flex: 0 0 40% !important;
                    max-width: 40% !important;
                }

                @include mobile {
                    position: static;
                    flex: 0 0 50% !important;
                    max-width: 50% !important;
                }
            }
        }
    }
}

.data-segment-page,
.app-access-page {
    .filter-section {
        .filter-title-section {
            @include tablet {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        .col-md-7 {
            @include tablet {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}

.client-blacklist-title {
    h3 {
        font-family: $font_medium !important;

        @include mobile {
            margin-bottom: 0;
            font-size: 1.125rem;
        }
    }
}

.manual-review-page {
    .filter-section {
        @include mobile {
            margin-bottom: 0;
        }
    }
    .btn-primary {
        @include mobile {
            margin: 0 0 10px 0 !important;
            width: 100%;
        }
    }

    .btn-secondary {
        @include mobile {
            margin: 0 !important;
            width: 100%;
        }
    }

    .col-lg-7 {
        @include Desktop1380 {
            flex: 0 0 68.33333%;
            max-width: 68.33333%;
        }

        @include tablet {
            flex: 0 0 78.33333%;
            max-width: 78.33333%;
        }

        @include mobile {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.ocr-config-page,
.branding-page {
    .filter-section {
        @include mobile {
            margin-bottom: 0;
        }
    }

    .brand-color-area {
        h5 {
            @include mobile {
                margin-bottom: 15px !important;
                font-family: $font-medium;
            }
        }
    }
}

// .kyc-checkbox-section {
//     .custom-checkbox .custom-control-label:before,
//     .custom-checkbox .custom-control-label:after,
//     input[type='checkbox'] {
//         display: none;
//     }

//     .custom-checkbox {
//         padding-left: 0;
//     }
// }

.tablet-table-xs-min-width {
    .w-320px {
        @include Desktop1380 {
            width: 180px !important;
        }
    }
}

.risk-factor-page {
    .table-section {
        overflow: inherit;
        overflow-x: inherit;
        @include tablet {
            overflow: hidden;
            overflow-x: auto;
        }
        .table {
            overflow: inherit;

            @include tablet {
                overflow: hidden;
            }
        }
    }
}

.scrollable {
    &.more-fields-popup {
        max-height: 300px;
        height: auto;
        margin-bottom: 10px;
        width: 104%;
        padding-right: 3%;
    }
    &.more-legends {
        max-height: 90px;
        height: auto;
        width: 104%;
    }
}
.removed-row-class {
    text-align: center;
    float: right;
    color: $danger;
    cursor: pointer;
    position: absolute;
    right: -3px;
    top: -49px;
    z-index: 9;
    font-size: 23px;
    .icon-delete {
        &:after {
            content: '';
            position: absolute;
            width: 17px;
            height: 17px;
            left: 3px;
            border-radius: 50%;
            top: 4px;
        }
        &:before {
            background: #fff;
        }
    }
}

.customer-details-page {
    &.customer-profile {
        .wrap-content {
            .filter-title-section {
                @include tablet {
                    flex: 0 0 100% !important;
                    max-width: 100% !important;
                }
            }

            .filter-section {
                a {
                    span {
                        @include mobile {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}

/* Terms and Condition */

#terms-service-popup,
#privacy-policy-popup {
    .modal-body {
        padding: 0;

        .scrollable {
            padding: 24px 24px 0;
            max-height: 550px;

            h3 {
                font-size: 1.25rem;
                font-family: $font_medium;
                margin-bottom: 15px;
            }

            h4 {
                font-size: 1.125rem;
                font-family: $font_medium;
            }

            ol,
            ul {
                padding-left: 20px;
                margin-bottom: 25px;

                li {
                    font-size: $font-size-base;
                    line-height: 21px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
/* Terms and Condition */

/* Css on dev branch start */
.table-section {
    tr {
        &.disable-row {
            pointer-events: none;
            background-color: #f2f2f2;
            td {
                color: #9ea0a5;
                .action-review {
                    color: $grey-xlite;
                }
                a {
                    color: #9ea0a5;
                }
            }
            .action-review span a {
                color: $grey-lite !important;
            }
        }
    }
    &.remove-sort-icon {
        .table {
            thead {
                th {
                    cursor: default !important;
                }
            }
        }
    }
}
.form-border {
    border-bottom: 1px solid #e8e8ef;
    margin-bottom: 44px;
    padding-bottom: 20px;
}
.pointer-none {
    pointer-events: none;
}
.multiselect__content-wrapper {
    z-index: 99;
}
header {
    z-index: 10;
}
.form-control {
    &.icon-pos {
        position: relative;
    }
}

.disable-clipboard .form-control.disable-input {
    position: relative;
    background-color: #fdfaff;
    border: 1px #d7d7e2 solid;
}
.form-control.disable-input + i {
    position: absolute;
    right: 26px;
    top: 32px;
    color: #b35fa5;
    font-size: 22px;
    cursor: pointer;
}
.hide-footer {
    .custom-model-form {
        &.archive-popup-body {
            padding: 24px !important;
        }
    }
}
.modal-body {
    p {
        &.custom-model-form {
            &.para-popup-body {
                margin-bottom: 0 !important;
            }
        }
    }
}

.checkbox-invalid {
    .is-invalid {
        .custom-control-label::before {
            border: #ed1c24 solid 1px;
        }
    }
}

.system-logs-table {
    table {
        thead {
            th:last-child {
                pointer-events: all !important;
            }
        }
    }
}

.modify-status-body {
    .form-group {
        margin: 24px;
    }
}

.risk-override-margin {
    .m-override {
        margin: 24px 10px 0;
    }
}
.p-24 {
    padding: 24px;
}
.custom-risk-override {
    padding: 17px 24px 40px 24px !important;
    margin-bottom: 0 !important;
}
.alerts-actions-views {
    font-size: 1.3rem;
    &.danger {
        @extend .high;
    }
    &.grey {
        color: $grey-xlite;
    }
    &.black {
        color: $body-color;
    }
}

.preview-form {
    .custom-checkbox {
        .custom-control-label {
            span {
                text-transform: capitalize;
                color: #7f8fa4;
            }
        }
    }
    .kyc-status-radio {
        &.overwrite-radio {
            .custom-control-inline {
                margin-bottom: 10px !important;
            }
        }
    }
}

.custom-datepicker {
    .date-time-picker {
        cursor: not-allowed;
        .field-input {
            &.disable-input {
                background-color: #f2f2f6 !important;
                pointer-events: none;
                border: 1px solid #d7d7e2 !important;
            }
        }
    }
    .icon-calendar {
        &.disable-input {
            background-color: #f2f2f6 !important;
        }
    }
}

body {
    a:not([href]):not([tabindex]) {
        color: #7f8fa4 !important;
        cursor: pointer;
    }
}

.download-current-file {
    .btn-link {
        i {
            font-size: 1.125rem;
            padding-right: 4px;
        }
    }
}
.porto-button {
    &.btn-link {
        margin-top: 4px;
    }
}

.button-disabled {
    pointer-events: none;
    color: #fff;
    background-color: #b35fa5;
    border-color: #b35fa5;
    opacity: 0.6;
}

.m-custom {
    margin: 20px 0px 0px 23px;
}

.mt-custom-44 {
    margin: 44px 0px 0px 0px;
}

.m-20 {
    margin: 20px;
}
.disable-select {
    pointer-events: none;
    opacity: 0.6;
}
.alert-custom-table {
    table {
        tr {
            .indecation {
                position: relative;
                top: 0;
                left: 21%;
            }
            &:hover {
                td {
                    color: $secondary;
                    cursor: pointer;
                    .indecation {
                        .alert-type-icons {
                            i {
                                color: $secondary;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            &:focus {
                outline: none;
            }
        }
    }
}
.w-200 {
    width: 200px;
}
.custom-col-6 {
    flex: 0 0 47% !important;
    max-width: 47% !important;
}
.left-0 {
    left: 0;
}
.file-download {
    border: 1px solid $grey-xlite;
    padding: 50px 0;
    border-radius: 8px;
    background: #fff;
    width: 100%;
    margin: 0 auto;
    max-width: 490px;
    i {
        font-size: 50px;
        color: $secondary;
    }
    h2 {
        padding: 20px 0;
    }
}
.not-found {
    .not-found-panel {
        .file-download {
            .btn.back-to-login-btn {
                span {
                    @include mobile {
                        line-height: 0;
                    }
                }
            }
        }
    }
}
.add-role-radio {
    .custom-radio {
        .custom-control-label {
            span {
                // color: $grey-lite !important;
                font-family: $font_medium;
                margin-top: 0px;
            }
        }
    }
}
.input-elipsis {
    padding: 0px 30px 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.file-attach {
    .btn-link {
        span {
            color: $secondary;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
.has-icon {
    position: relative;
    .password-validation {
        position: absolute;
        top: -6px;
        left: 28%;
        font-size: 16px;
        color: #7f8fa4;
        transform: rotate(180deg);
        display: block;
        cursor: pointer;
        i {
            &:hover {
                color: $secondary;
            }
        }
    }
}
.tooltip-inner {
    text-align: left;
    background-color: $secondary;
}
.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^='top'] .arrow::before {
    border-top-color: $secondary;
}
.required-field {
    label:after {
        content: '*';
        position: absolute;
        color: $danger;
        font-size: 20px;
        vertical-align: top;
        margin-left: 3px;
        margin-top: -4px;
    }
}
.custom-radio,
.custom-checkbox {
    .custom-control-label::after {
        content: '' !important;
    }
}
.dialling-code-field {
    label {
        visibility: hidden;
        display: none !important;
    }
    select {
        margin-top: -22px;
    }
    .multiselect {
        .multiselect__tags {
            line-height: 0;
            padding: 14px 15px;
            .multiselect__single {
                padding-left: 0px;
                font-size: 14px;
                margin-bottom: 0 !important;
                vertical-align: middle;
                line-height: 1;
            }
        }
        .multiselect__content-wrapper {
            width: 270px;
            overflow: auto;
            border: none;
            @include mobile {
                width: 300px;
            }
            &::-webkit-scrollbar-track {
                background-color: #fff;
                border-radius: 51px;
            }
            &::-webkit-scrollbar {
                width: 6px;
                height: 3px;
                background-color: #fff;
                border-radius: 51px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #cfd4d9;
                border-radius: 51px;
            }
        }
        .multiselect__placeholder {
            padding-top: 7px;
            color: #9ea0a5;
        }
    }
}
.check-hits {
    max-width: 110px;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    font-size: 50px;
    color: $primary;
}
.show-print {
    display: none;
}

.icon-download {
    &.icon-cloud {
        font-size: 20px;
        line-height: 33px;
    }
}

.dialling-code-field {
    .form-group.required-field.is-invalid {
        .multiselect {
            border: #ed1c24 solid 1px;
            border-radius: 5px;
            padding-left: 1px;
        }
    }
}
/* Css on dev branch end */

.alert-type-icons {
    i {
        position: relative;
        top: 4px;
    }
    .alert-return-icon {
        position: absolute;
        left: -33px;
        right: 0;
        margin: 0 auto;
        font-size: 0px;
        font-weight: lighter !important;
        top: -6px;
        width: 33px;
        height: 33px;
        background: none;
        border-radius: 100%;
        border: solid 2px $grey-lite;
        i {
            position: absolute;
            font-size: 18px;
        }
        i.icon-chevron-down {
            right: -10px;
            left: auto;
            top: 5px;
            &:after {
                content: '';
                position: absolute;
                width: 7px;
                height: 7px;
                background: #fff;
                bottom: -2px;
                display: block;
                right: 5px;
            }
        }
        i.icon-chevron-down.rotate {
            left: auto;
            right: 18px;
            transform: rotate(175deg);
            top: 4px;
            display: none;
        }
    }
}

.alert-custom-table
    table
    tr:hover
    td
    .indecation
    .alert-type-icons
    .alert-return-icon {
    border: solid 2px $secondary;
}

.link-disabled {
    pointer-events: none;
    color: #fff;
    opacity: 0.6;
}
.min-height-40 {
    min-height: 40px;
    @include mobile {
        min-height: 0px;
    }
}
