.system-user-warning {
  width: 22px;
  float: left;

  i {
    font-size: 19px;
    transform: rotate(180deg);
    display: block;
    color: $nav-color;
  }
  &.password-validation {
    i {
      font-size: 16px;
      color: #7f8fa4;
      position: absolute;
      top: 0;
      left: 30%;
      transform: rotate(180deg);
      display: block;
      cursor: pointer;
      &:hover {
        color: $secondary;
      }
    }
  }
}

.already-a-customer {
  margin-top : 20px;
}