.dashboard-card {
    box-shadow: 0px 0.5px 0px rgba(50, 50, 93, 0.2);
    margin-bottom: 30px;
    border: 1px solid transparent;
    .heading {
        font-family: $font-medium;
        font-size: 1.125rem;
        margin-bottom: 20px;

        @include tablet {
            font-size: 18px;
        }

        @include mobile {
            font-size: 16px;
            text-align: center;
        }
    }
    &.dashbaord-stastics {
        padding: 20px 10px;
        border: 1px solid transparent;
        h2 {
            font-size: $font-size-base;
            color: $grey-lite;
            text-transform: uppercase;
            font-family: $font-medium;

            @include tablet {
                font-size: 12px;
            }

            @include mobile {
                font-size: 11px;
            }
        }
        p {
            font-size: 1.375rem;
            color: $grey-darkest;
            margin-bottom: 0;

            @include tablet {
                font-size: 12px;
            }
        }
        i {
            position: absolute;
            right: 10px;
            bottom: 10px;
            font-size: 1.25rem;
            color: $grey-xlite;
        }
    }
    .dashboard-charts {
        height: 430px;
        padding-bottom: 30px;
        position: relative;
        @include mobile {
            padding-bottom: 0px;
        }
        .amcharts-div {
            height: 100%;

            &.customer-by-gender {
                height: 85%;
            }
        }

        &.activy-dashboard-chart {
            .chart-highest-record {
                top: 40%;
            }
        }
        /*      &.single-line-dashboard-chart {
            .chart-highest-record {
                top: 44%;
            }
        } */

        .amcharts-div.pie-charts {
            height: 300px;
        }
        @include mobileS {
            height: 450px;
        }
    }
}

.chart-highest-record {
    position: absolute;
    top: 35%;
    left: 0;
    text-align: center;
    width: 100%;
    h2 {
        color: $grey-lite;
        font-size: $font-size-sm;
        text-transform: uppercase;
        font-family: $font-medium;
        @include mobile {
            font-size: $font-size-sm + 0.05;
        }
    }
    p {
        font-size: $font-size-base + 0.22;
        text-transform: capitalize;
        position: relative;
        width: 100%;
        max-width: 170px;
        margin: 0 auto;
        @include mobile {
            font-size: $font-size-sm + 0.1;
        }
    }
    @include mobileS {
        top: 35% !important;
    }
}

.no-label-chart {
    .chart-highest-record {
        position: absolute;
        top: 50%;
        left: 0;
        text-align: center;
        width: 100%;
        @include mobile {
            top: 50% !important;
        }
    }
}

.amcharts-chart-div > a {
    display: none !important;
}

.logs-total-actions {
    height: 270px;
}

/* .screening-by-type {
    height: 300px !important;
}
 */
/*
    Customize legends
*/

.custom-legend-wrapper {
    margin-top: 30px;
    > div {
        float: left;
        width: 50%;
        padding: 0 10px;
        margin-bottom: 15px;
        @include mobile {
            width: 100%;
        }
    }
    &.cols-1 {
        > div {
            width: auto;
            display: inline-block;
            float: none;
        }
    }
    &.cols-full {
        > div {
            width: 100%;
            display: block;
            float: none;
        }
    }
    &.cols-3 {
        > div {
            width: 33%;
            padding: 0 5px;
            .legend-value {
                padding-right: 5px;
                @include windowS {
                    font-size: 0.6rem;
                    margin-top: 3px;
                }
            }
            @include mobileS {
                width: 50%;
                .legend-value {
                    margin-top: -1px;
                    font-size: 0.75rem;
                }
            }
            @include mobile {
                .legend-title {
                    // width: 80px;
                    width: 56px;
                }
            }
        }
    }
    &.mob-cols-2 {
        > div {
            @include mobileS {
                width: 50%;
                .legend-value {
                    margin-top: -1px;
                    font-size: 0.75rem;
                }

                .legend-title {
                    width: 60px;
                }
            }
        }
    }
    &.table-style {
        margin: 0;
        position: relative;
        > div {
            border-bottom: solid 1px $border-color;
            padding-top: 10.5px;
            padding-bottom: 10.5px;
            padding-left: 20px;
            margin: 0;
            &:last-child {
                //border-bottom: none;
            }
            .legend-value {
                padding-right: 15px;
                position: relative;
                width: 80px;
                text-align: center;
                top: 4px;
                @include windowS {
                    font-size: 0.75rem;
                    margin-top: 3px;
                }
            }
            .legend-country-users {
                position: relative;
                top: 4px;
            }
        }
    }
    @include mobile {
        margin-top: 20px;
        float: left;
        width: 100%;
        display: block;
        height: auto;
        overflow-x: auto;
        &.table-style {
            .legend-title {
                font-size: 0.75rem;
                width: 69px;
            }
            .legend-country-users {
                top: 2px !important;
                font-size: 0.75rem;
            }
            .legend-value {
                margin-top: 0px !important;
                top: 3px !important;
            }
        }
    }
}

.pie-chart-inner-table {
    @include mobile {
        position: relative;
        .chart-highest-record {
            top: 43% !important;
        }
    }
}

.card {
    &.dashboard-card {
        @include mobile {
            .table-scroll {
                .inner {
                    border: solid 0px;
                }
            }
            .custom-legend-wrapper {
                &.table-style {
                    height: auto;
                    max-height: none;
                    > div {
                        padding-left: 0px;
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}

.amcharts-chart-div {
    @include mobile {
        height: 300px;
    }
}

.legend-marker {
    width: 22px;
    height: 22px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    @include mobileS {
        width: 15px;
        height: 15px;
    }
}

.legend-title {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    @include Desktop1380 {
        font-size: 12px;
    }
    @include windowS {
        font-size: 0.75rem;
    }
    @include mobileS {
        font-size: 0.8rem;
        margin-right: 4px;
        width: 160px;
    }
}

.legend-value {
    display: inline-block;
    font-family: $font-bold;
    float: right;
    position: relative;
    top: 2px;
    @include Desktop1380 {
        top: 4px;
        font-size: 13px;
    }
    @include windowS {
        font-size: 0.75rem;
        margin-top: 3px;
    }
    @include mobileS {
        font-size: 0.75rem;
        margin-top: -1px;
    }
}

.config-card-block {
    .table {
        @include mobileS {
            min-width: 660px;
            tbody {
                td {
                    &.two-list {
                        width: 180px;
                    }
                }
            }
        }
    }
}

.legend-country-users {
    float: right;
    margin-right: 30px;
}

#onBoardIssueLegend {
    > div {
        width: auto;
        float: none;
        display: inline-block;
        @include windowS {
            width: 50%;
            .legend-title {
                width: 60%;
            }
        }
        @include mobile {
            width: 100%;
        }
    }
}
