@media print {
    .profile-detail {
        display: none;
    }
    #export-report-popup___BV_modal_outer_ {
        display: none;
    }
    .page-break-after-print {
        page-break-after: always;
        display: table;
    }
    .page-break-inside-avoid {
        page-break-inside: avoid !important;
        display: table !important;
    }
    .d-none-print {
        display: none;
    }
    .d-block-print {
        display: block !important;
    }
    .table-scroll .inner {
        min-height: inherit !important;
        border-bottom: 0 !important;
    }
    // Name screening popup
    .name-screening-detail {
        footer {
            height: 70px;
        }
    }
    .show-print {
        display: block !important;
    }
    .legend-marker {
        -webkit-print-color-adjust: exact;
    }
    .header-logo {
        button {
            display: none !important;
        }
        img {
            width: 50px;
        }
    }
    .name-screening-detail {
        .close {
            display: none !important;
        }
    }
    // Name screening popup end
    // Pie Charts
    .activity-dashboard-page {
        .col-md-6 {
            flex: none;
            max-width: 760px !important;
            width: 760px !important;
            margin: 0 auto;
            text-align: left;
        }
    }
    .donut-table-chart {
        .col-lg-6 {
            flex: none;
            max-width: 760px !important;
            width: 760px !important;
            margin: 0 auto;
            text-align: left;
        }
    }
    .customer-statistics-page {
        .col-md-6 {
            flex: none;
            max-width: 760px !important;
            width: 760px !important;
            margin: 0 auto;
            text-align: left;
        }
    }
    .card {
        page-break-after: auto;
    }
    .chart-highest-record {
        margin-top: 30px;
        text-align: left;
        top: 70%;
        h2 {
            text-align: left !important;
        }
        p {
            text-align: left;
            max-width: 100%;
        }
    }
    .more-legends {
        margin-top: 20px;
    }
    .donut-tale-graph {
        .chart-highest-record {
            top: 87%;
            text-align: right;
            p {
                max-width: 100%;
            }
        }
    }
    .mb-370-print {
        margin-bottom: 370px !important;
    }
    .mb-400-print {
        margin-bottom: 400px !important;
    }
    .mb-450-print {
        margin-bottom: 450px !important;
    }
    .mb-50-print {
        margin-bottom: 50px !important;
    }

    // Pie Charts end
}
