<template>
    <div class="no-record-found no-screening-hits">
        <div class="middle-align">
            <div class="no-record-image">
                <div class="check-hits">
                    <i class="icon-tick-with-circle"></i>
                </div>
            </div>
            <p>No Name Screening Hits</p>
        </div>
    </div>
</template>
