<template>
    <div>
        <p class="timeline-talks">{{ message }}</p>

        <tags
            v-if="blockTags"
            :statusType="blockTags.rating"
            :tagIcon="blockTags.icon"
            :tagHeading="blockTags.heading"
        ></tags>
    </div>
</template>

<script>
import tags from '@/components/Tags.vue'
export default {
    components: {
        tags,
    },
    /*
    |--------------------------------------------------------------------------
    | Component > props
    |--------------------------------------------------------------------------
    */
    props: ['details'],
    /*
    |--------------------------------------------------------------------------
    | Component > data
    |--------------------------------------------------------------------------
    */
    data() {
        return {}
    },
    /*
    |--------------------------------------------------------------------------
    | Component > computed
    |--------------------------------------------------------------------------
    */
    computed: {
        message() {
            return 'Initiated KYC Review process.'
        },
        blockTags() {
            if (this.details.currentObj) {
                return {
                    rating: this.details.currentObj.riskRatingStatus,
                    icon: 'icon-graph',
                    heading: this.details.currentObj.riskRatingStatus,
                }
            }
            return ''
        },
    },
}
</script>
