<template>
    <div>
        <svg
            width="100%"
            height="100%"
            viewBox="0 0 46 64"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M44.1377 60.6895H0V0H34.207L44.1377 9.93115V60.6895Z"
                fill="#DBE0E9"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M34.207 0V9.93115H44.1377L34.207 0Z"
                fill="#7E8AA1"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 44.1377H44.1377V64H0V44.1377Z"
                fill="#662D91"
            />
            <path
                d="M33.4139 52.2821C33.5963 52.1622 33.8876 52.1024 34.289 52.1024C35.065 52.1024 35.9868 52.311 37.0545 52.7279L37.9998 50.6986C36.7707 50.2329 35.5647 50 34.3828 50C33.0442 50 31.9923 50.2506 31.2264 50.7518C30.4609 51.2531 30.0783 51.9516 30.0783 52.8475C30.0783 53.3266 30.1681 53.7414 30.3478 54.0917C30.5275 54.4423 30.8034 54.7527 31.176 55.0233C31.5485 55.294 32.1068 55.5734 32.8516 55.8616C33.6746 56.1767 34.1809 56.3851 34.3714 56.4871C34.5613 56.5891 34.6994 56.69 34.7853 56.7898C34.871 56.8895 34.9141 57.0061 34.9141 57.1391C34.9141 57.352 34.8075 57.5262 34.5937 57.6614C34.3799 57.7966 34.044 57.8643 33.586 57.8643C33.0549 57.8643 32.4715 57.7924 31.8361 57.648C31.2005 57.5041 30.5887 57.3031 30 57.0459V59.3879C30.5573 59.6142 31.0939 59.7727 31.6095 59.8636C32.1251 59.9544 32.7631 60 33.5234 60C34.4349 60 35.2291 59.8702 35.9063 59.6107C36.5833 59.3512 37.1016 58.9877 37.4608 58.5196C37.8203 58.0517 38 57.516 38 56.9129C38 56.2564 37.8086 55.7118 37.4258 55.2794C37.0433 54.8469 36.3596 54.4423 35.3752 54.0652C34.349 53.666 33.7203 53.3908 33.4884 53.24C33.2566 53.0894 33.1409 52.9185 33.1409 52.7277C33.1406 52.5505 33.2316 52.4019 33.4139 52.2821Z"
                fill="white"
            />
            <path
                d="M17.7622 50H14.6962L12.9695 53.0918L11.1748 50H8.19721L11.2972 54.8838L8 60H11.0387L12.9557 56.874L14.8932 60H18L14.6145 55.0958L17.7622 50Z"
                fill="white"
            />
            <path
                d="M23.2986 50H20V60H28V57.818H23.2983V50H23.2986Z"
                fill="white"
            />
            <rect
                x="12.0723"
                y="12.0369"
                width="21.6479"
                height="21.6479"
                fill="#B35FA5"
            />
            <path
                d="M13.9502 13.9148H31.8419V31.8065H13.9502V13.9148Z"
                fill="white"
            />
            <path
                d="M30.4385 25.709H24.917L26.5478 27.7457L24.917 29.7823H30.4385L28.8076 27.7457L30.4385 25.709Z"
                fill="#B35FA5"
            />
            <path
                d="M28.8597 18.5701H23.5753L22.404 20.0328L21.2326 18.5701H15.9482L19.7618 23.3326L15.9482 28.0952H28.8597L25.0462 23.3326L28.8597 18.5701Z"
                fill="#B35FA5"
            />
            <path
                d="M18.2129 19.2435H17.4482L23.9969 27.4216H24.7615L18.2129 19.2435Z"
                fill="white"
            />
        </svg>
    </div>
</template>
