<template>
    <div>
        <svg
            width="23"
            height="32"
            viewBox="0 0 23 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M22.0688 30.3447H0V0H17.1035L22.0688 4.96558V30.3447Z"
                fill="#DBE0E9"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M17.1035 0V4.96558H22.0688L17.1035 0Z"
                fill="#7E8AA1"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 22.0688H22.0688V32H0V22.0688Z"
                fill="#662D91"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9.93164 30.3447C9.62695 30.3447 9.37988 30.0977 9.37988 29.7932V24.2759C9.37988 23.9712 9.62695 23.7241 9.93164 23.7241C10.2361 23.7241 10.4832 23.9712 10.4832 24.2759V29.7932C10.4832 30.0977 10.2361 30.3447 9.93164 30.3447Z"
                fill="white"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9.93164 28.1379H11.5867C12.8037 28.1379 13.7937 27.1482 13.7937 25.9312C13.7937 24.7139 12.8037 23.7241 11.5867 23.7241H9.93164C9.62695 23.7241 9.37988 23.9712 9.37988 24.2759V27.5862C9.37988 27.8909 9.62695 28.1379 9.93164 28.1379ZM11.5867 27.0344H10.4832V24.8276H11.5867C12.1953 24.8276 12.6902 25.3225 12.6902 25.9312C12.6902 26.5396 12.1953 27.0344 11.5867 27.0344Z"
                fill="white"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M7.17261 30.3447C6.86816 30.3447 6.62085 30.0977 6.62085 29.7932V26.3538L5.44458 28.4116C5.24878 28.7554 4.68262 28.7554 4.48682 28.4116L3.31055 26.3538V29.7932C3.31055 30.0977 3.06348 30.3447 2.75879 30.3447C2.45435 30.3447 2.20703 30.0977 2.20703 29.7932V24.2759C2.20703 24.0254 2.37549 23.8069 2.61719 23.7429C2.85938 23.6768 3.11353 23.7854 3.23779 24.0022L4.96582 27.0257L6.69385 24.0022C6.81787 23.7849 7.07178 23.6768 7.31445 23.7429C7.55615 23.8069 7.72437 24.0254 7.72437 24.2759V29.7932C7.72437 30.0977 7.47729 30.3447 7.17261 30.3447Z"
                fill="white"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M16.0003 27.5862C15.9319 27.5862 15.8628 27.5735 15.7957 27.5464C15.5125 27.4329 15.3753 27.1123 15.4883 26.8294L16.5918 24.0706C16.7049 23.7881 17.0249 23.6502 17.3089 23.7634C17.5921 23.877 17.7293 24.1975 17.6162 24.4805L16.5127 27.2393C16.4263 27.4549 16.2188 27.5862 16.0003 27.5862Z"
                fill="white"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M19.3103 27.5862H16C15.6956 27.5862 15.4482 27.3391 15.4482 27.0344C15.4482 26.73 15.6956 26.4827 16 26.4827H19.3103C19.615 26.4827 19.8621 26.73 19.8621 27.0344C19.8621 27.3391 19.615 27.5862 19.3103 27.5862Z"
                fill="white"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M18.2068 30.3447C17.9023 30.3447 17.6553 30.0977 17.6553 29.7932V25.9312C17.6553 25.6265 17.9023 25.3794 18.2068 25.3794C18.5115 25.3794 18.7585 25.6265 18.7585 25.9312V29.7932C18.7585 30.0977 18.5115 30.3447 18.2068 30.3447Z"
                fill="white"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3.31055 8.82764H18.7588V18.7585H3.31055L3.31055 8.82764Z"
                fill="#B35FA5"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M13.2415 13.7932L9.93115 16V11.5862L13.2415 13.7932Z"
                fill="white"
            />
        </svg>
    </div>
</template>
